<div class="Top">
  <p>
    ● Le risque chimique

    Tout produit chimique qui entre en contact avec le corps humain, peut perturber le fonctionnement de ce dernier, et
    conduire à l’apparition d’effets sur la santé plus ou moins graves.
    ❏ Signalisation
  </p>
  <img id="firstImg" [src]="chemRiskImg" />
  <p> De forme rectangulaire, pictogrammes sur fond blanc à bord rouge.
    Il en existe 9 représentants 9 dangers différents.
    Leur affichage est obligatoire sur tous les produits chimiques.
  </p>

  <table border="1" cellspacing="0" cellpadding="0">

    <tr>
      <td valign="top">
        <img [src]="chemTblOne" />
        <p>Corrosif</p>
      </td>
      <td valign="top">
        <p><strong>Produits corrosifs ou caustiques pour la peau et les muqueuses en cas de contact. </strong></p>

        <p>Ils peuvent provoquer de graves brûlures au niveau de la peau et/ ou des yeux.</p>

        <p>Ils peuvent attaquer ou détruire les métaux.</p>

      </td>
    </tr>

    <tr>
      <td valign="top">
        <img [src]="chemTblTwo" />
        <p>Dangereux à long terme</p>
      </td>
      <td valign="top">
        <p><strong>Ces produits peuvent être cancérigènes, affecter la fertilité ou l’embryon ou encore provoquer des
            lésions aux organes. Il s’agit des CMR (Cancérogène, mutagène, reprotoxique)</strong></p>
      </td>
    </tr>

    <tr>
      <td valign="top">
        <img [src]="chemTblThree" />
        <p>Comburant</p>
      </td>
      <td valign="top">
        <p><strong>Produits comburants contenant une grande quantité d’oxygène et pouvant provoquer la combustion de
            substances inflammables ou combustibles.</strong></p>

        <p>Ces produits peuvent provoquer ou aggraver un incendie, ou même provoquer une explosion s’ils sont en
          présence de produits inflammables.</p>
      </td>
    </tr>

    <tr>
      <td valign="top">
        <img [src]="chemTblFour" />
        <p>Inflammable</p>
      </td>
      <td valign="top">
        <p><strong>Produits inflammables pouvant s’enflammer facilement au contact d’une flamme ou d’une étincelle, ou
            sous l’effet de la chaleur.</strong></p>
      </td>
    </tr>

    <tr>
      <td valign="top">
        <img [src]="chemTblFive" />
        <p>Explosif</p>
      </td>
      <td valign="top">
        <p><strong>Produits explosifs pouvant exploser au contact d’une flamme, d’un choc, ou sous l’effet de la chaleur
            ou de frottements.</strong></p>
      </td>
    </tr>

    <tr>
      <td valign="top">
        <img [src]="chemTblSix" />
        <p>Toxique</p>
      </td>
      <td valign="top">
        <p><strong>Produits toxiques pouvant présenter un danger pour la santé ou entraîner la mort en cas d’inhalation,
            d’ingestion ou d’absorption cutanée.</strong></p>

        <p>Ces produits empoisonnent rapidement même à faible dose.</p>
      </td>
    </tr>

    <tr>
      <td valign="top">
        <img [src]="chemTblSeven" />
        <p>Dangereux pour l’environnement</p>
      </td>
      <td valign="top">
        <p><strong>Produits dangereux pour l’environnement.</strong></p>

        <p>Ils présentant un risque pour les organismes lorsqu’ils se retrouvent dans la nature.</p>
      </td>
    </tr>

    <tr>
      <td valign="top">
        <img [src]="chemTblEight" />
        <p>Irritant / Nocif</p>
      </td>
      <td valign="top">
        <p><strong>Produits irritants pouvant causer des démangeaisons, des rougeurs ou des inflammations en cas de
            contact direct, prolongé ou répété.</strong></p>
      </td>
    </tr>

    <tr>
      <td valign="top">
        <img [src]="chemTblNine" />
        <p>Sous pression</p>
      </td>
      <td valign="top">
        <p><strong>Gaz sous pression</strong></p>

        <p>Certains peuvent exploser sous l’effet de la chaleur.</p>

        <p>Les gazs liquéfiés réfrigérés peuvent provoquer des brûlures ou des blessures liées au froid.</p>
      </td>
    </tr>
  </table>
  <video width="400" controls>
    <source src="../../../../assets/Videos/ChemRisk.mp4" type="video/mp4">
  </video>

  <div class="PartTwo">
    <p>
      En complément, un affichage réglementaire par étiquette sur les contenants permet d’identifier les dangers que
      peuvent présenter les produits chimiques du fait de leurs propriétés physico-chimiques, de leurs effets sur la
      santé et sur l’environnement.

      La réglementation décrit précisément les informations qu’elle doit comporter.

      La taille de l’étiquette, tout comme la taille des symboles ou pictogrammes de danger, sont réglementées.
      L’étiquette doit figurer sur le récipient d’origine et sur chacun des emballages successifs après transvasement et
      reconditionnement. Elle doit être suffisamment visible et rédigée en français. L’utilisateur doit pouvoir la lire
      et la comprendre ce qui implique qu’il ait reçu une formation adaptée.

      D'une façon générale, les informations requises pour l'étiquetage sont les suivantes :
    </p>
    <ul>
      <li>L’identité du fournisseur :
        Le fournisseur responsable de la mise sur le marché du produit doit être identifiable. Son nom, son adresse et
        son numéro de téléphone doivent figurer sur l’étiquette.</li>

      <li>L’identification du produit :
        Le nom chimique et lorsqu'il existe, le numéro d'identification doivent être fournis.</li>

      <li>Les pictogrammes de danger :
        Un produit chimique peut représenter plusieurs dangers. La priorité des risques se fait alors dans le sens de
        lecture de gauche à droite.</li>
    </ul>

    <img [src]="PartTwoImg" />
    <ul>
      <li>Une mention d’avertissement :
        Une mention sur l’étiquette indique le degré de dangerosité : Elle indique la mention « ATTENTION » dans les cas
        de danger modéré à « DANGER » dans les cas de danger sévère.</li>

      <li>Des mentions de danger :
        Il s’agit de courtes phrases qui décrivent la nature du danger que constitue un produit chimique et, lorsqu’il y
        a lieu, le degré de ce danger.</li>

      <li></li> Des conseils de prudence :
      Un nombre limité de conseils de prudence doit figurer sur l’étiquette et sont choisis, parmi ceux qui sont
      associés aux catégories de danger du produit, en tenant compte des utilisations de ce produit.

      <li> Une section des informations supplémentaires.</li>
    </ul>
    <div class="PartThree">
      <img [src]='PartThreeImg' />
      <p>Etiquetage CLP produits chimiques © INRS</p>
    </div>

    <div class="PartFour">
      <h3>❏ Effets sur la santé</h3>

      <p>Les produits chimiques présentent des dangers pour les personnes, les installations ou l'environnement. Ils
        peuvent aussi provoquer des effets plus insidieux, après des années d’exposition du travailleur à de faibles
        doses, voire plusieurs années après la fin de l’exposition. </p>

      <p>La nature des effets des produits chimiques sur la santé dépend de plusieurs paramètres :</p>

      <p>- Les caractéristiques du produit chimique concerné (toxicité, nature physique…)</p>

      <p>- Les voies de pénétration dans l’organisme (respiratoire, cutanée ou digestive)</p>

      <p>- Les modalités d’exposition (niveau, fréquence, durée…)</p>

      <p>- L’état de santé de la personne concernée.</p>

      <p>Ces effets peuvent apparaître en cas d’exposition à un produit chimique sur une brève durée</p>

      <p>ou bien après des contacts répétés, même à faibles doses.</p>

      <p>Les pathologies dues à des produits chimiques peuvent apparaître plusieurs mois ou plusieurs années après
        l’exposition. Dans le cas des cancers professionnels, ils peuvent apparaître 10, 20, voire 40 ans après
        l’exposition.</p>

      <h4><a name="_wyei24canc12"></a>● Le cas des substances CMR</h4>

      <p>Certains agents chimiques ont, à moyen ou long terme, des effets cancérogènes, mutagènes ou toxiques pour la
        reproduction. Ils sont dénommés agents CMR. Il est indispensable de les repérer, c’est-à-dire de faire
        l’inventaire des produits utilisés et des situations de travail pouvant donner lieu à leurs expositions. </p>

      <p>Un cancérogène (ou cancérigène) est un agent chimique seul ou obtenu à la suite d’un mélange pouvant provoquer
        un cancer et/ou augmenter significativement leurs fréquences chez une population exposée.</p>

      <p>Les cancers peuvent résulter de l’effet cumulatif de plusieurs agents cancérogènes dans le cas d’expositions
        multiples.</p>

      <p>Un mutagène est un agent ou un mélange d‘agent chimique susceptible de produire des mutations de l’ADN. Les
        effets sur l’être humain peuvent se traduire par des anomalies transmises à la descendance (anomalies
        morphologiques, anomalies fonctionnelles).</p>

      <p>Un agent reprotoxique,ou toxique pour la reproduction, est un agent pouvant altérer les fonctions ou la
        capacité de reproduction chez l’homme ou la femme et provoquer des effets néfastes non héréditaires sur la
        descendance pouvant apparaître à toutes les étapes de l’évolution du fœtus.</p>

      <h3><a name="_l5p7auvy96ts"></a>❏ Exposition au risque chimique</h3>

      <p>Qu’ils soient solides, liquides ou gazeux, les produits chimiques empruntent trois voies principales pour
        pénétrer dans l’organisme : voies inhalatoire, cutanée ou digestive.</p>

      <p>En milieu de travail, on distingue également deux circonstances d’exposition :</p>

      <p>● Les produits sont utilisés de façon délibérée ou comme intermédiaires avec d’autres produits pour fabriquer
        un matériau ou une autre substance.</p>

      <p>● Un procédé ou une activité donne lieu à des émissions de produits chimiques (poussières, vapeurs, gaz,
        fumées, brouillards…) : il y a alors pollution du poste de travail ou de son environnement, d’où une exposition
        possible de l’opérateur ou des salariés de l’entreprise.</p>

      <h3><a name="_p298e73ofmdp"></a>❏ La prévention au risque chimique</h3>

      <p>La prévention du risque chimique répond aux mêmes exigences que toute démarche de prévention. </p>

      <p><strong>Evaluer</strong>,<strong> supprimer </strong>ou <strong>réduire les risques</strong>,<strong> informer
          et former</strong>.</p>

      <p>Elle s’appuie sur les principes généraux de prévention définis dans le Code du travail. Dès lors qu’il y a
        exposition à des risques chimiques, les mesures de prévention à mettre en œuvre tiennent compte de la gravité du
        risque, et en particulier des effets cancérogènes, mutagènes ou toxiques pour la reproduction (CMR).</p>

      <h4><a name="_eve7odoacym1"></a>● Evaluer les risques</h4>

      <p>C’est à l’employeur que revient <strong>d’évaluer </strong>les risques présents dans son entreprise. Pour les
        risques chimiques, il s’agit de <strong>repérer </strong>tous les produits présents ou susceptibles d’être
        rencontrés dans l’entreprise qu’il s’agisse de produits utilisés comme tels ou générés par une activité ou un
        procédé et d’analyser ensuite les conditions d’exposition.</p>

      <p>Les résultats de cette évaluation doivent être <strong>consignés </strong>dans le document unique et mis à
        disposition du médecin du travail, des instances représentatives du personnel ou, à défaut, des personnes
        exposées à un risque pour leur santé ou sécurité.</p>

      <p><em>Ou puis je m’informer sur les risques chimiques ?</em></p>

      <p>● <em>Le Centre international de recherches sur le cancer (CIRC - IARC) tient à jour une liste indicative de
          substances pures, mélanges, procédés et circonstances d’exposition évalués du point de vue de la
          cancérogénicité chez l’Homme et classés en 5 groupes (1, 2a, 2b, 3, 4).</em></p>

      <p>● <em>L’ANSES (Agence nationale de sécurité sanitaire de l’alimentation, de l’environnement et du travail) a
          développé un site institutionnel et gratuit permettant de trouver des données sur les substances chimiques
          CMR, leur substitution et sur la prévention des cancers en milieu professionnel.</em></p>

      <p>● De manière plus générale, des informations sur les produits peuvent être obtenues via les fiches
        toxicologiques de l’INRS.</p>

      <h4><a name="_olmpr5hclxof"></a>● Eliminer, réduire les risques</h4>

      <p>Une fois les risques identifiés, les mesures à mettre en œuvre doivent donner la priorité à la
        <strong>suppression </strong>ou la <strong>substitution </strong>des produits et procédés dangereux par d’autres
        produits ou procédés moins dangereux. Dans le cas où des produits CMR sont utilisés, leur substitution est une
        obligation réglementaire quand elle est techniquement possible.</p>

      <h4><a name="_vaoa6dazboz"></a>● Protéger contre les risques</h4>

      <p>Quand ni la suppression ni la substitution ne sont réalisables, un ensemble d’actions doit permettre de réduire
        le plus possible le niveau du risque, les quantités de produits dangereux, le nombre de salariés exposés ou
        encore la fréquence ou la durée des expositions.</p>

      <p>Ces mesures peuvent être d’ordre organisationnel ou technique. La priorité est toujours donnée aux mesures de
        protection collective. Le port d’équipements de protection individuelle contre le risque chimique peut être
        préconisé quand les mesures de protection collective sont insuffisantes ou impossibles à mettre en œuvre.</p>

      <p>Des mesures de la concentration des agents chimiques dans l’air peuvent être réalisées pour vérifier que les
        niveaux d’exposition sont les plus bas possible, que les valeurs limites d’exposition professionnelle sont
        respectées et que les mesures de prévention adoptées sont efficaces. Ces mesures doivent être renouvelées
        notamment lors de tout changement des conditions de travail.</p>

      <h4><a name="_akacx0296xpn"></a>● Informer et former</h4>

      <p>Toute démarche de prévention des risques chimiques doit nécessairement s’accompagner de formation. Elle doit,
        au minimum, aborder les points suivants :</p>

      <p>● Les risques potentiels et avérés pour la santé,</p>

      <p>● Les précautions à prendre pour prévenir l’exposition,</p>

      <p>● Les prescriptions en matière d’hygiène,</p>

      <p>● Le port et l’emploi des équipements et des vêtements de protection,</p>

      <p>● Les mesures à prendre par les personnes exposés pour la prévention d’incidents et en cas d’incident,</p>

      <p>● La nécessité pour les femmes de déclarer le plus précocement possible leur grossesse.</p>

      <h3><a name="_u9xqj3553ufn"></a>❏ La législation et le risque chimique</h3>

      <p>La législation encadre le risque chimique dans son ensemble, de la fabrication des produits chimiques à leur
        utilisation en milieu professionnel en passant par leur conditionnement. </p>

      <p><em>Référence : Article L. 4121-2 du Code du Travail.</em></p>

      <p>Les mesures de prévention à mettre en place respectent les principes généraux de prévention.</p>

      <h5><a name="_89i82i1h14vv"></a>● L’évaluation du risque chimique </h5>

      <p><em>Références : Articles R. 4412-61 à 4412-65 du Code du Travail</em></p>

      <p>Les mesures de prévention aux agents chimiques découlent de l’évaluation des risques d’exposition, renouvelée
        régulièrement et tenant compte de l’évolution des connaissances et des modifications des conditions de travail.
        Cette évaluation porte sur toutes les expositions pouvant générer un risque, y compris l’absorption percutanée
        ou transcutanée. Elle est obligatoire avant toute activité nouvelle impliquant ces agents. </p>

      <h5><a name="_nbkinwd4f8af"></a>● Mesures de prévention</h5>

      <p><em>Références : Articles R. 4412-67 à 4412-75 du Code du Travail</em></p>

      <p>Après avoir réalisé l’évaluation des risques et mis en évidence un risque d’exposition, l’employeur a
        l’obligation en priorité d’éviter le risque.</p>

      <p>Si cela n’est pas possible, le risque doit être réduit en remplaçant l’agent dangereux par un produit ou un
        procédé pas ou moins dangereux. </p>

      <p>Lorsque cette substitution n’est pas réalisable, la production et l’utilisation du produit doit s’effectuer en
        système clos.</p>

      <p>En cas d’impossibilité, les mesures mises en place doivent concourir à réduire le risque au niveau le plus bas
        possible.</p>

      <p>Des mesures supplémentaires consistent à restreindre les quantités de produits sur le lieu de travail en
        limitant le nombre de travailleurs exposés, en mesurant l’exposition des travailleurs, en délimitant des zones à
        risques et en prévoyant des dispositions d’urgenceen cas de libération de l’agent chimique.</p>

      <p>Des mesures doivent également être prises pour prévenir les risques liés au stockage et à la manipulation des
        produits, les risques d’incendie et d’explosion.</p>

      <p>Le chef de l’entreprise extérieure chargée de l’entretien des équipements de protection individuelle et des
        vêtements de travail doit être informé des risques éventuels de contamination.</p>

      <h5><a name="_y1bqb8e95lo"></a>● Information et formation des travailleurs</h5>

      <p><em>Références : Articles R. 4412-59, R. 4412-86 à 4412-93 du Code du Travail</em></p>

      <p>Les travailleurs exposés bénéficient d’une information et d’une formation sur les risques et les précautions à
        prendre, les mesures d’hygiène et d’urgence, le port de protection individuelle. </p>

      <p>Le CHSCT ou, à défaut, les délégués du personnel, et le médecin du travail doivent être associés à leur mise en
        place.</p>

      <p>L’employeur doit informer les travailleurs de la présence d’agents chimiques dans les installations, veiller à
        l’étiquetage des récipients et signaler le danger. Pour chaque poste ou situation de travail, il établit une
        notice rappelant les risques et les consignes de sécurité se rapportant à l’hygiène et aux protections
        collective et individuelle.</p>

      <p>Les femmes sont sensibilisées par l’employeur sur la nécessité de déclarer leur grossesse le plus précocement
        possible. Elles sont informées des possibilités de changer temporairement d’affectation et des travaux
        interdits.</p>

      <p>L’employeur doit informer le plus rapidement possible les travailleurs et le CHSCT des expositions anormales,
        de leurs causes et des mesures prises ou à prendre.</p>

      <h5><a name="_54lwbcuohopj"></a>● Vérification des installations et appareils de protection</h5>

      <p><em>Références : Articles R. 4412-59, R. 4412-23 à 4412-26 du Code du Travail</em></p>

      <p>L’employeur doit assurer la vérification et la maintenance des installations et des appareils de protection
        collective. </p>

      <h5><a name="_kupdaajx6iwe"></a>● Contrôle de l’exposition</h5>

      <p>Références : Articles R. 4412-76 à 4412-80 du Code du Travail</p>

      <p>L’employeur doit mesurer régulièrement l’exposition des travailleurs à des agents chimiques type CMR dans
        l’atmosphère des lieux de travail. Lorsque ces agents sont dotés de valeurs limites d’exposition professionnelle
        réglementaires listées aux articles R. 4412-149 et R. 4412-150 du Code du travail, l’employeur doit réaliser un
        contrôle technique pour vérifier le respect de ces valeurs au moins une fois par an par un organisme accrédité
        et lors de tout changement pouvant avoir des conséquences néfastes sur la santé des travailleurs.</p>

      <p>Le dépassement d’une valeur réglementaire impose l’arrêt de travail aux postes concernés jusqu’à la mise en
        œuvre de mesures de protection. </p>

      <h5><a name="_i4gzap6da32q"></a>● Suivi médical individuel renforcé</h5>

      <p>Références : Articles R. 4624-22 à 4624-28 du Code du Travail</p>

      <p>Les travailleurs exposés à des agents CMR sont soumis à un suivi médical individuel renforcé comprenant dans un
        premier temps un examen médical d'aptitude à l’embauche réalisé par le médecin du travail. Cet examen doit avoir
        lieu avant toute affectation à des travaux exposants au risque chimique.</p>

      <p>Une visite intermédiaire effectuée chez un professionnel de santé doit être ensuite réalisée au plus tard tous
        les deux ans.</p>

      <p>En dehors de ces visites, un travailleur incommodé par ses travaux peut être examiné par le médecin du travail
        à sa demande ou à la demande de l’employeur.</p>

      <p>Le médecin du travail peut prescrire des examens complémentaires et des examens nécessaires pour la
        surveillance biologique des expositions aux agents chimiques. En cas de dépassement d’une valeur limite
        biologique, il en informe l’employeur sous forme non nominative. Le médecin du travail doit également être tenu
        informé des absences pour maladie supérieure à dix jours.</p>

      <p>Le dossier médical individuel du salarié doit être conservé au moins 50 ans après la fin de l’exposition.</p>

      <p>Ces documents permettent une traçabilité des expositions en vue notamment d'une reconnaissance de maladie
        professionnelle. </p>

      <h5><a name="_tbbkoggdp06p"></a>● Travaux interdits à certaines catégories de travailleurs</h5>

      <p>Références : Articles D. 4152-9 et D. 4152-10, D. 4153-17 à D. 4153-18, R. 4153-38 à R. 4153-45 du Code du
        Travail.</p>

      <p>Les femmes enceintes ou allaitant ont interdiction d’être affectées à un poste de travail exposant à certains
        agents chimiques. </p>

      <p>De même pour les jeunes travailleurs de moins de 18 ans : les travaux impliquant la préparation, l’emploi, la
        manipulation ou l’exposition à certains agents chimiques leur sont interdits. </p>

      <p>Les travailleurs sous contrat à durée déterminée et temporaires ont également interdiction d’être employé sur
        des travaux les exposant à certains agents chimiques de type CMR sauf si ces travaux sont exécutés en système
        clos et sécurisé.</p>

      <h5><a name="_2bakonf90nvg"></a>● Traçabilité des expositions</h5>

      <p>Références : Articles L. 4161-1, L. 4161-1 du Code du Travail.</p>

      <p>Les agents chimiques dangereux, y compris les poussières et les fumées, sont reconnus comme étant des facteurs
        de risque professionnels susceptibles de laisser des traces durables, identifiables et irréversibles sur la
        santé des salariés. Pour chaque travailleur exposé à ces facteurs au-delà des seuils réglementaires et après
        mise en œuvre des mesures de protection collective et individuelle, l’employeur doit établir un document de
        traçabilité d’exposition aux agents chimiques.</p>
    </div>
  </div>
