<div class="container">
  <div class="sign">
    <ul>
      <li>
        <h2>Le risque radioactif</h2>
      </li>
    </ul>
    <p>Les éléments radioactifs peuvent être d’origine naturelle ou artificielle. Ils sont caractérisés par une
      instabilité de la composition de leur noyau qui se manifeste par l’émission de particules ou de photons : ce sont
      les rayonnements ionisants.

      Le risque radioactif concerne l'ensemble des risques liés à ces rayonnements. Ces radiations ionisantes émises
      sont particulièrement dangereuses. Elles arrachent en passant dans la matière vivante des électrons aux atomes.
      Invisibles et inodores, ces rayonnements ne sont détectables que par des appareils de détection appropriés.

      Le pouvoir d’ionisation dépend de la nature des rayonnements. Il existe les rayonnements alpha, bêta, gamma, X et
      neutronique qui ont chacun leurs spécificités. Généralement, plusieurs types de rayonnements sont émis à la fois.

      L’exposition à ces radiations conduit au risque d’irradiation et de contamination.</p>

    <h3>❏Signalisation</h3>
    Le risque radioactif est représenté par un pictogramme de forme triangulaire sur fond jaune.
    <div class="partOne">
      <img src="../../../../assets/img/RadioImg(1).jpg" />
      <p>Pictogramme d'avertissement du risque radioactif
        (arrêté du 4 novembre 1993 relatif à la signalisation de sécurité et de santé au travail)
      </p>
      <h5>Cette signalisation est complétée par une signalisation de zone réglementée en fonction de la dose
        d’exposition aux rayonnements ionisants</h5>
      <img src="../../../../assets/img/RadioImg(2).jpg">
      <img src="../../../../assets/img/RadioImg(3).png">
      <img src="../../../../assets/img/RadioImg(4).png" />
      <img src="../../../../assets/img/RadioImg(5).png" />
      <img src="../../../../assets/img/RadioImg(6).png" />
      <img src="../../../../assets/img/RadioImg(7).png" />
      <hr>
      <img src="../../../../assets/img/RadioImg(8).png" />
      <div class="partTwo">
        <p>Pictogramme de signalisation de zone du risque radioactif</p>
        <p>❏ Mesures
          Les unités de mesures des éléments radioactifs sont le becquerel, le gray et le sievert (Bq, Gy, Sv).

          Le Becquerel (Bq) reflète l'activité d’un élément radioactif ou son émission de rayonnement. Elle diminue avec
          le temps. Ce phénomène est spécifique à chaque élément. On appelle période radioactive le temps au bout duquel
          le nombre de noyaux instables dans un échantillon radioactif aura décru de moitié. Cette période est de
          l’ordre de 8 jours pour l’iode 131, de 30 ans pour le césium 137, de 5737 ans pour le carbone 14 et de plus de
          4 milliards d’années pour l’uranium 238. Il faut donc du temps (souvent très long) pour que l’activité d’un
          radionucléide diminue fortement.

          Le Gray (Gy) mesure la dose absorbée par un organisme ou une matière. Elle reflète une énergie absorbée par
          unité de masse. Ce n’est pas parce que l’on est dans une pièce où il y a des particules radioactives que notre
          corps va être en contact avec toutes les particules, seule une petite partie peut nous atteindre. C’est ce que
          l’unité « gray » exprime.

          Le Sievert (Sv) permet d’évaluer l’impact du rayonnement sur la matière vivante. Il sert à quantifier le
          risque lié à une exposition à des rayonnements ionisants, et permet de comparer l’effet d’une même dose
          délivrée par des rayonnements de nature différente à des organismes, des organes ou des tissus qui n’ont pas
          la même sensibilité aux radiations.
          Le sievert est donc la quantité de radioactivité absorbée par un individu (Gray) multipliée par deux facteurs
          possibles :
          ● Le type de rayonnement émis,
          ● La sensibilité de la zone du corps qui est exposé à ce rayonnement.

          ❏ Effets sur la santé

          Les effets sur l’organisme des rayonnements sont de deux types :

          - les effets à court terme, dits déterministes, liés directement aux lésions cellulaires et pour lesquels un
          seuil d’apparition a été défini. Ils se manifestent de quelques heures à quelques jours après l'exposition ;

          - les effets à long terme et aléatoires, dits stochastiques : cancers et anomalies génétiques. Ils se
          manifestent de quelques mois à quelques années après l’exposition.




          La dose radioactive reçue par l’organisme dépend de :
          - la nature du rayonnement (type, activité, énergie) ;
          - la distance à la source : plus l’organisme est éloigné de la source d’exposition, moins la dose absorbée
          sera forte (varie en fonction inverse du carré de la distance) ;
          - la durée de l’exposition ;
          - l’épaisseur et la composition des écrans éventuels.


          Les effets déterministes
          A partir d’un certain seuil d’exposition aux rayonnements sur des parties ciblées de l’organisme, des effets
          pathologiques directement liés aux lésions cellulaires apparaissent. Les tissus les plus radiosensibles sont
          les cellules de l’appareil digestif, les organes reproducteurs, de la moelle osseuse, du cristallin et de la
          peau.
          En cas d’exposition globale du corps humain, le pronostic vital est lié à l’importance de l’atteinte des
          différents tissus (moelle osseuse, tube digestif, système nerveux central).

          Ces effets ont les caractéristiques suivantes :
          • Ils sont observés aux fortes doses,
          • Ils apparaissent obligatoirement au-dessus d’un seuil qui varie suivant les individus,
          • Leur gravité augmente avec la dose reçue.


          Comme nous avons pu voir précédemment la dose d’irradiation d’un organisme se mesure en gray (Gy). En fonction
          des tissus exposés et de la dose reçue, les effets peuvent être plus ou moins graves. Ils sont décrits à titre
          indicatif dans le tableau suivant mis en ligne par l’Institut National de Recherche et Sécurité (IRSN) :
        </p>
        <div class="tablePart">
          <table border="1" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td valign="top">
                  <p><strong>Effets déterministes recensés</strong></p>
                </td>
                <td valign="top">
                  <p><strong>Dose d’irradiation</strong></p>
                </td>
              </tr>

              <tr>
                <td valign="top">
                  <p>Diminution temporaire des spermatozoïdes</p>
                </td>
                <td valign="top">
                  <p>à partir de 0,15 Gy</p>
                </td>
              </tr>

              <tr>
                <td valign="top">
                  <p>Diminution temporaire des leucocytes (globules blancs)</p>
                </td>
                <td valign="top">
                  <p>à partir de 1 Gy</p>

                </td>
              </tr>

              <tr>
                <td valign="top">
                  <p>Atteinte oculaire : opacités du cristallin</p>
                </td>
                <td valign="top">
                  <p>à partir de 0,5 Gy</p>
                </td>
              </tr>

              <tr>
                <td valign="top">
                  <p>Nausée, asthénie</p>

                  <p>Modification de la formule sanguine</p>

                  <p>Effet immunodépresseur (risque d’infection)</p>

                  <p>Sous surveillance médicale, le retour à la normale se produit rapidement.</p>
                </td>
                <td valign="top">
                  <p>de 1 à 2 Gy</p>

                </td>
              </tr>

              <tr>
                <td valign="top">
                  <p>Stérilité féminine</p>
                </td>
                <td valign="top">
                  <p>à partir de 2,5 Gy</p>
                </td>
              </tr>

              <tr>
                <td valign="top">
                  <p>Lésions cutanées</p>
                </td>
                <td valign="top">
                  <p>à partir de 1 Gy</p>
                </td>
              </tr>

              <tr>
                <td valign="top">
                  <p>Stérilité masculine définitive</p>
                </td>
                <td valign="top">
                  <p>5 Gy</p>
                </td>
              </tr>

              <tr>
                <td valign="top">
                  <p>Aplasie</p>

                  <p>En l’absence de traitement, au moins la moitié des personnes irradiées meurent et il existe des
                    risques de séquelles.</p>
                </td>
                <td valign="top">
                  <p>à partir de 4,5 Gy</p>

                </td>
              </tr>

              <tr>
                <td valign="top">
                  <p>Atteinte gastro-intestinale</p>
                </td>
                <td valign="top">
                  <p>4-6 Gy</p>
                </td>
              </tr>

              <tr>
                <td valign="top">
                  <p>Coma, mort cérébrale</p>

                  <p>Mort inévitable</p>
                </td>
                <td valign="top">
                  <p>au-delà de 15 Gy</p>

                </td>
              </tr>

            </tbody>
          </table>
          <p>© IRSN</p>
          <video width="400" controls>
            <source src="../../../../assets/Videos/RadioRisk.mp4" type="video/mp4">
          </video>
        </div>
        <div class="PartTwo">
          <h4>Les effets stochastiques</h4>

          <h4>
            <p>Ces effets peuvent survenir de façon aléatoire au sein d’une population ayant subi une exposition
              identique
              mais sans qu’un seuil ait pu être vraiment défini. Ce sont les cancers et les anomalies génétiques
              (mutations). Ils sont irréversibles et il n’existe pas de dose seuil en dessous de laquelle ils ne se
              manifestent pas. Par prudence, on considère que toute dose, aussi faible soit-elle, peut entraîner un
              risque
              accru de cancer. C’est l’hypothèse « d’absence de seuil ».</p>

            <p>Les facteurs de développement d’un cancer ne sont pas toujours faciles à mettre en évidence.</p>

            <p>Leur délai de survenue se compte en mois et en années.</p>

          </h4>

          <h3><a name="_9ozomcdtafis"></a>❏ Exposition au risque radioactif</h3>

          <h4>
            <p>On parle <strong>d'irradiation</strong> lorsque la source radioactive est située à l’extérieur du corps
              de
              la personne exposée. Dans ce cas, plus la distance entre la source et la personne est importante, plus
              l’exposition par irradiation est faible. Pour stopper l’exposition par irradiation, il suffit donc
              d’éloigner les personnes de la source radioactive ou de les protéger par des équipements de protection.
            </p>

            <p>On distingue deux cas possibles <strong>d’irradiation </strong>:</p>

            <li> L’irradiation sans contact cutané : L’irradiation est dans ce cas en rapport avec le pouvoir de
              pénétration dans le corps du rayonnement émis. Les plus dangereux sont les rayonnements gamma, X et
              neutroniques. Les rayonnements beta n’entrainent pas d’irradiation en profondeur dans le corps humain et
              les
              rayonnements alpha ne peuvent pas pénétrer dans l’organisme par ce type d’exposition.</li>

            <li> L’irradiation par contact cutané : Il y’a irradiation par dépôt d’éléments radioactifs sur la peau. En
              fonction de la présence de plaies, d’altération cutanée et plus rarement à travers une peau saine,
              certains
              éléments peuvent pénétrer dans l’organisme et entraîner une <strong>contamination</strong>.</li>

            <p>On parle de <strong>contamination</strong> lorsque la source radioactive pénètre à l’intérieur du corps
              de
              la personne exposée, soit par inhalation, soit par consommation de produits contaminés, soit par blessure
              avec des objets contaminés. Les particules vont continuer à émettre des rayonnements et séjourneront plus
              ou
              moins longtemps dans le corps en fonction de leur taille et des éléments radioactifs concernés, avant
              d’être
              éliminées. </p>

          </h4>

          <h3><a name="_wr13fl2oypy0"></a>❏ La prévention au risque radioactif</h3>

          <h4>
            <p>En matière de prévention des risques liés à l’exposition aux rayonnements ionisants, la démarche
              d’évaluation du risque professionnel qui doit être adoptée est la même que pour les autres risques.

              Dans le cadre du risque radioactif c’est la <strong>radioprotection</strong>. Elle a pour objectif de
              prévenir et de limiter les risques sanitaires dus aux rayonnements ionisants quelles que soient leurs
              origines et constitue le socle sur lequel sont fondées les règles de prévention qui doivent être mises en
              place par l’employeur

              En application des principes généraux de prévention, il convient tout d’abord d’évaluer les risques, dans
              la mesure du possible de les éliminer, sinon de mettre en place des mesures de protection collective et en
              dernier ressort, des équipements de protection individuelle. La prévention doit être intégrée le plus en
              amont possible dès la conception des lieux de travail, en passant par des mesures d’organisation du
              travail,
              d’information et de formation.</p>

          </h4>
        </div>
        <div class="PartFour">
          <h4><a name="_551gcqylw1xz"></a>Les trois principes fondamentaux de la radioprotection</h4>

          <h4> </h4>

          <h5><a name="_hp1dxi5gmmji"></a>1. La justification</h5>

          <h4>
            <p>Toute activité entraînant une exposition aux rayonnements ionisants doit être justifiée.</p>

          </h4>

          <h5><a name="_s9gdmggfig25"></a>2. L’optimisation</h5>

          <h4>
            <p>Le niveau d’exposition des personnes aux rayonnements ionisants, la probabilité de la survenue de cette
              exposition et le nombre de personnes exposées doivent être maintenus au niveau le plus bas possible.</p>

          </h4>

          <h5><a name="_25vrfo2u7nkw"></a>3. La limitation des expositions individuelles</h5>

          <h4>
            <p>Les expositions individuelles doivent être maintenues en dessous des limites pour lesquelles le risque
              est
              jugé acceptable. </p>

            <p>Ces limites sont telles qu’elles permettent :</p>

            <p>● D’éviter tout effet pathologique, en se situant bien en dessous des seuils des effets déterministes,
            </p>

            <p>● De maintenir le détriment éventuel provoqué par les effets aléatoires à un niveau jugé acceptable pour
              le
              manipulateur.</p>

          </h4>

          <h4><a name="_8tioafccujsv"></a>Les Valeurs limites d’exposition professionnelle</h4>

          <h4>
            <p>Le cumul des expositions pour les travailleurs exerçant une activité soumise aux rayonnements ionisants,
              même occasionnelle, ne doit pas dépasser des valeurs limites réglementaires. </p>

            <p>En fonction du niveau d’exposition estimé, des zones de travail doivent être définies. Elles sont
              classées
              par un code de couleur et par une signalisation spécifique présentée dans le schéma suivant :</p>

            <img src="../../../../assets/img/RadioImg(9).png" />
          </h4>
          <li>La zone surveillée définit un espace de travail où le manipulateur est susceptible de recevoir une dose
            d’exposition pour l’organisme entier dépassant 1 mSv/an.</li>
          <li>Une zone dite de contrôle doit être mise en place dès lors que le manipulateur est susceptible de recevoir
            cette dose à 6 mSv/an. A l'intérieur de cette zone, lorsque le risque d’exposition dépasse certains seuils,
            des zones spécialement réglementées ou interdites d’accès doivent être délimitées et signalées. Il s’agit
            des
            zones jaune, orange et rouge.</li>

          <p> Selon l’article R. 4451-57 du Code du travail, sont classés par l’employeur en catégorie A, le personnel
            susceptible de recevoir sur 12 mois consécutifs une dose efficace supérieure à 6 mSv, et/ou une dose
            équivalente supérieure à 150 mSv pour la peau et/ou les extrémités. Le personnel classé en catégorie B,
            regroupe tous les autres travailleurs susceptibles de recevoir sur 12 mois consécutifs une dose efficace
            supérieure à 1 mSv, et/ou une dose équivalente supérieure à 15 mSv pour le cristallin et/ou à 50 mSv pour la
            peau et/ou les extrémités.
          </p>
          <h4>
            <p>La Personne Compétente en Radioprotection ( PCR )</p>

            <p>C’est la personne ressource au sein du laboratoire. Elle a pour mission d’analyser le risque radioactif
              (zonage radiologique, classement des agents, dosimétrie, étude de poste …) en collaboration avec les
              autres acteurs du laboratoire et de l’entreprise. Elle choisit et aide à la mise en œuvre des mesures de
              radioprotection, participe à la gestion des sources radioactives, contrôle ou fait contrôler les
              installations, les matériels et les sources, gère les déchets radioactifs (stockage, contrôle,
              élimination)</p>

          </h4>

          <h4> </h4>

        </div>
        <div class="partFive">
          <h2>Les mesures de protections face au risque radioactif</h2>
          <h4>Protection contre l'irradiation :</h4>
          <h5>Il existe principalement trois facteurs sur lesquels il est possible d’agir pour se protéger contre une
            irradiation :</h5>
          <p>
            ■ La durée d’exposition au rayonnements : en limitant le temps d'irradiation du travailleur, en augmentant
            la
            rapidité des opérations, en alternant plusieurs manipulateurs.
            ■ L’intensité d’exposition : en éloignant au maximum le personnel exposé de la source.
            ■ Les barrières de protection : En plaçant des écrans de protection afin d’absorber les rayonnements émis
            entre la source et le manipulateur.
          </p>
          <h4> Protection contre la contamination</h4>
          <h5>Pour protéger au mieux les personnes exposés au risque de contamination radioactive, la protection
            personnelle
            doit être adaptée au niveau du risque de contamination.</h5>
          <p>
            Les méthodes utilisées, dans l'ordre croissant du niveau de risque, sont les suivantes:
            ■ port d'un vêtement de protection adapté pour contrer les rayonnements manipulés,
            ■ port de gants spéciaux,
            ■ port d'un masque respiratoire filtrant,
            ■ port d'un appareil respiratoire à air comprimé,
            ■ port d'un appareil respiratoire et d'un équipement étanche.

            La décontamination systématique des objets ou des personnes est une garantie contre la dispersion de la
            substance radioactive et les risques de contamination.
          </p>
          <h4> Contrôles individuels et de contamination</h4>
          <p>Pendant et après un travail en contact avec des rayonnements ionisants, une surveillance du niveau
            d’exposition du manipulateur doit être réalisée. Elle se fait généralement par utilisation de dosimètre
            individuel que le personnel garde sur soi durant toute la durée de son exposition.
            En zone surveillée, tout le personnel exposé doit bénéficier d’une évaluation individuelle d’exposition
            dosimétrie passive (système à lecture différée).
            L’exposition passive est contrôlée tous les mois pour les personnels de catégorie A, et tous les 1 à 3 mois
            pour les personnels de catégorie B. Les dosimètres personnels, ceux des appareils (sources scellés) et les
            dosimètres témoins sont envoyés à l'INRS pour lecture des doses reçues.</p>
          <li>En cas de valeurs anormalement hautes mais inférieures à la limite réglementaire, le médecin du travail et
            le
            PCR seront alertés par courrier dans les 48h des identités des personnes concernées.</li>
          <li> En cas de valeurs anormalement hautes supérieures la limite réglementaire, la PCR est averti par
            téléphone, et
            un courrier est envoyé au médecin du travail ainsi qu’à l’employeur.</li>
          En zone contrôlée, le personnel exposé doit également être surveillé individuellement par dosimétrie active.
          Il s’agit d’un système à lecture directe affichant l’exposition aux rayonnements en temps réel.

          <p> Des appareils portables de détection de radioactivité sont également employés pour localiser et identifier
            les
            sources de contaminations radioactives.
            > Radiamètres portables
            > Dosimètres électroniques individuels munis d’alarmes
            > Systèmes d’imagerie permettant de localiser la contamination
            > Portiques de contrôle de contamination fixes ou transportables
          </p>

          <h4> Information et formation</h4>
          <p>Avant de travailler dans un environnement soumis aux rayonnements ionisants, le personnel doit avoir été
            informé sur :
            ● l’identité de la personne compétente en radioprotection,
            ● les risques liés à l’utilisation des radionucléides et sur les moyens de prévention à observer,
            ● sur l’existence des zones contrôlées et surveillées au sein de la structure.

            A cette information doit être ajouté une formation des personnes susceptibles d’entrer en zones surveillées
            ou
            contrôlées, et notamment des nouveaux arrivants.

            La formation à la radioprotection pour les travailleurs intervenant en zone réglementée
            porte sur les risques liés à l’exposition aux rayonnements ionisants et sur les procédures générales de
            radioprotection mises en œuvre. Elle explicite les règles particulières
            de protection propres aux postes de travail, ainsi que la conduite à tenir en cas de situation anormale.
            Elle
            est adaptée aux travaux réalisés en zones réglementées.
            Une notice écrite doit être remise pour les travaux en zone contrôlée.</p>

          <h4>Le suivi médical</h4>
          <p> Le personnel exposé aux rayonnements ionisants est soumis à une surveillance médicale renforcée. Elle a
            pour
            but de déceler toute contre-indication à l’affectation ou au maintien à un poste exposant aux rayonnements
            ionisants, mais également de prévenir et dépister toute affection susceptible d’être en relation avec cette
            exposition.

            En radioprotection, comme dans d’autres domaines, il est donc primordial d’intégrer la sécurité le plus en
            amont possible, en prenant en compte tous les aspects (organisationnels, opérationnels, chimiques …).

            Cette évaluation a notamment pour objectif :

            - d'identifier les valeurs limites d'exposition pertinentes au regard de la situation de travail ;
            - de déterminer, lorsque le risque ne peut être négligé du point de vue de la radioprotection, les mesures
            et
            moyens de prévention devant être mis en œuvre.

            A cette fin, l'employeur prend notamment en considération :

            - l'inventaire des sources de rayonnements ionisants, leur nature, le type et l’énergie des rayonnements
            ainsi
            que le niveau d’émission et, le cas échéant, les modes de dispersion éventuelle et d'incorporation des
            radionucléides ;
            - les valeurs limites d'exposition ;
            - l'existence d'équipements moins exposants, susceptibles d'être utilisés en remplacement des équipements
            existants, ou de protection collective, permettant de réduire le niveau d'exposition aux rayonnements
            ionisants ;
            - l'interaction avec les autres risques d'origine physique, chimique, biologique ou organisationnelle du
            poste
            de travail.</p>


          <h4>La législation sur le risque radioactif</h4>

          <p>Les travailleurs exposés aux rayonnements ionisants doivent être informés et formés sur les risques pour la
            santé et les prescriptions en matière d'hygiène, sur les précautions à prendre pour éviter l'exposition, sur
            le port et l'utilisation des équipements et des vêtements de protection individuelle, sur les modalités de
            tri, de collecte, de stockage, de transport et d'élimination des déchets, sur les mesures à prendre pour
            prévenir ou pallier les incidents et sur la procédure à suivre en cas d'accident.


        </div>
        <div class="Last">
          <p><strong>Réglementation relative aux mesures de prévention à appliquer face au risque radioactif :</strong>
          </p>

          <p>Articles R. 4451-1 à R.4451-144 du Code du travail fixant les mesures générales de radioprotection des
            travailleurs susceptibles d'être exposés aux rayonnements ionisants.</p>

          <p>Circulaire DGT/ASN n° 04 du 21 avril 2010 relative aux mesures de prévention</p>

          <p>des risques d’exposition aux rayonnements ionisants.</p>

          <p>L’ordonnance 2001-270 du 28 mars 2001 relative à la transposition de directives communautaires dans le
            domaine de la protection contre les rayonnements ionisants.</p>

          <p>Le décret 2002-460 du 04 avril 2002, relatif à la protection générale des personnes contre les dangers des
            rayonnements ionisants, complété par le décret 2003-462 modifié par le décret 2007-1582 (articles R. 1333-1
            à R. 1333-112 du Code de la santé publique).</p>

          <p>Les décrets 2003-296 du 31 mars 2003 et 2007-1570 du 05 novembre 2007, relatifs à la protection des
            travailleurs contre les dangers des rayonnements ionisants (articles R. 4451-1 à R.4451-144 du Code du
            travail).</p>

          <p>Arrêté du 17 juillet 2013 relatif à la carte de suivi médical et au suivi dosimétrique des</p>

          <p>travailleurs exposés aux rayonnements ionisants.</p>

          <p>● Le<a href="https://www.legifrance.gouv.fr/jo_pdf.do?id=JORFTEXT000036985602"> </a><a
              href="https://www.legifrance.gouv.fr/jo_pdf.do?id=JORFTEXT000036985602"> décret n°2018-437 du 4 juin
              2018</a> qui remplace les dispositions prévues par les articles R.4451-1 à R.4451-144 du code du travail
            fixant les mesures générales de radioprotection des travailleurs susceptibles d'être exposés aux
            rayonnements ionisants.</p>

          <p>● Le<a href="https://www.legifrance.gouv.fr/jo_pdf.do?id=JORFTEXT000036985726"> </a><a
              href="https://www.legifrance.gouv.fr/jo_pdf.do?id=JORFTEXT000036985726"> décret n°2018-438 du 4 juin
              2018</a> qui vient modifier les dispositions du code du travail en aménageant les dispositions existantes
            en matière de radioprotection des jeunes, des femmes enceintes ainsi que des salariés titulaires d'un CDD et
            des salariés temporaires.</p>

          <p><strong>Réglementation sur la définition des différentes zones d'exposition :</strong></p>

          <p>Arrêté du 15 mai 2006 modifié relatif aux conditions de délimitation et de signalisation des zones
            surveillées et contrôlées et des zones spécialement réglementées ou interdites compte tenu de l’exposition
            aux rayonnements ionisants, ainsi qu’aux règles d’hygiène, de sécurité et d’entretien qui y sont imposées
            (article 23 modifié par l’arrêté du 15 mai 2014).</p>

          <p>Circulaire DGT/ASN n° 01 du 18 janvier 2008 relative à l’arrêté du 15 mai 2006 relatif aux conditions de
            délimitation et de signalisation des zones surveillées et contrôlées et des zones spécialement réglementées
            ou interdites compte tenu de l’exposition aux rayonnements ioni </p>

          <p><strong>Législation sur la formation et l'accréditation :</strong></p>

          <p>Arrêté du 6 décembre 2013 relatif aux modalités de formation de la personne compétente en radioprotection
            et de certification des organismes de formation.</p>

          <p>Arrêté du 24 novembre 2009 portant homologation de la décision n° 2009-DC-0147 de l’Autorité de sûreté
            nucléaire du 16 juillet 2009 fixant les conditions d’exercice des fonctions d’une personne compétente en
            radioprotection externe à l’établissement en application de l’article R. 4456-4 du Code du travail.</p>

          <p>sants, ainsi qu’aux règles d’hygiène, de sécurité et d’entretien qui y sont apposées.</p>

        </div>

      </div>
    </div>


  </div>
</div>
