<h1>Accidents du travail et maladies professionnelles</h1>

<h3>Différences entre un accident du travail et une maladie professionnelle</h3>
<p>
  Accident du travail et maladie professionnelle sont à distinguer.

  Un accident du travail est un accident survenu par le fait ou à l'occasion de votre travail, quelle qu'en soit la
  cause. Il regroupe :

  - Les accidents survenus sur le lieux de travail dans l'exercice ou à l'occasion de l'exercice des fonctions, pendant
  le temps et sur le lieu de travail ou à l’occasion d’une mission, et caractérisé par l’apparition soudaine d’une
  lésion. L’existence d’une lésion est indispensable pour qu’il y ait accident du travail. Elle peut être corporelle
  (piqûre, coupure, douleur musculaire apparue soudainement à la suite du port d'une charge, malaise, …) ou
  psychologique.

  -Les accidents survenus sur le trajet aller ou retour entre la résidence principale ou habituelle de l’agent et son
  lieu de travail, ou entre son lieu de travail et le lieu habituel de restauration.

  Un accident qui se produit pendant un stage de formation professionnelle, même en dehors du temps de travail, est
  considéré comme un accident du travail.

  Une maladie professionnelle est une altération de l’état de santé d’une personne, constatée par un médecin, causée par
  les différents travaux qu’elle a été amenée à effectuer au cours de sa carrière professionnelle.
  Elle peut résulter de l’exposition plus ou moins prolongée à un risque physique, chimique ou biologique, lors de
  l’exercice la profession. Elle peut également être causée par les conditions dans lesquelles le salarié exerce son
  activité professionnelle. Ces maladies sont répertoriées dans le tableau des maladies professionnelles disponible sur
  le site de l’INRS <a href="http://www.inrs.fr/publications/bdd/mp.html"></a> ( http://www.inrs.fr/publications/bdd/mp.html )</p>


<h3>Que faire si je suis victime d’un accident du travail ?</h3>



<h3>Que faire si je suis victime d’une maladie professionnelle ?</h3>



<h4>La faute inexcusable de l’employeur</h4>
<p>La faute inexcusable de l’employeur a été définie par la Cour de cassation :

  “En vertu du contrat de travail le liant à son salarié, l’employeur est tenu envers celui-ci d’une obligation de
  sécurité de résultat, notamment en ce qui concerne les maladies professionnelles contractées par ce salarié du fait
  des
  produits fabriqués ou utilisés dans l’entreprise ; le manquement à cette obligation a le caractère d’une faute
  inexcusable, au sens de l’article L. 452-1 du code de la sécurité sociale, lorsque l’employeur avait ou aurait dû
  avoir
  conscience du danger auquel était exposé le salarié, et qu’il n’a pas pris les mesures nécessaires pour l’en
  préserver.”
  Chambre sociale de la Cour de Cassation - 28 février 2002

  Il s’agit donc de la situation selon laquelle, sans avoir intentionnellement causé l'événement dommageable,
  l’employeur
  (ou celui qui s’y est substitué dans la direction de son entreprise) a manqué à son obligation contractuelle de
  sécurité
  vis-à-vis de son employé en le plaçant dans des situations dangereuses, alors qu’il aurait dû en avoir conscience et
  n’a
  pas pris les mesures nécessaires pour l’en préserver.</p>






<h5>Les accidents du travail regroupent :</h5>
<p>
  - Les accidents survenus sur le lieux de travail dans l'exercice ou à l'occasion de l'exercice des fonctions, pendant
  le
  temps et sur le lieu de travail ou à l’occasion d’une mission, et caractérisé par l’apparition soudaine d’une lésion.
  L’existence d’une lésion est indispensable pour qu’il y ait accident du travail. Elle peut être corporelle (piqûre,
  coupure, douleur musculaire apparue soudainement à la suite du port d'une charge, malaise, …) ou psychologique.

  -Les accidents survenus sur le trajet aller ou retour entre la résidence principale ou habituelle de l’agent et son
  lieu
  de travail, ou entre son lieu de travail et le lieu habituel de restauration.

  Un accident qui se produit pendant un stage de formation professionnelle, même en dehors du temps de travail, est
  considéré comme un accident du travail.
  Les accidents du travail doivent être reportées dans le registre de santé et sécurité au travail. Il en est de même
  pour
  les incidents survenus sur le lieu de travail qui eux ne vont pas systématiquement déboucher sur une déclaration
  d’accident du travail

  Le registre de santé et de sécurité au travail qui recense tous les incidents et accidents liés au travail. Il est mis
  à
  la disposition de tous les agents usagers/personnels du lieu de travail. Tous membres du personnel peut le consulter
  et
  y consigner les observations relatives à la prévention des risques et l'amélioration des conditions de travail
</p>
