<!-- <div class="form-style-2">
    <div class="form-style-2-heading">Veuillez remplir le formulaire!</div>
    <form [formGroup]="memberData" (ngSubmit)="onSubmit()" id="contactForm">
        <label for="field1"><span>Mme/Mr Prénom <span class="required">*</span></span><input type="text"
        formControlName="FirstName"  class="input-field" name="field1" value="" required /></label>
        <label for="field1"><span>Nom <span class="required">*</span></span><input type="text" formControlName="LastName" class="input-field"
          name="field1" value="" required /></label>
        <label for="field2"><span>Addresse <span class="required">*</span></span><input type="text" formControlName="Address" class="input-field"
          name="field2" value=""required /></label>
        <label for="field2"><span>Code Postal <span class="required">*</span></span><input type="number" formControlName="PostalCode" class="input-field"
          name="field2" value="" required/></label>
        <label for="field2"><span>Ville <span class="required">*</span></span><input type="text" formControlName="City" class="input-field"
          name="field2" value=""required /></label>
        <label for="Type"><span>Veuillez sélectionner <span class="required">*</span></span><select name="Type" formControlName ="Type" class="select-field">
          <option selected value ='' disabled="disabled" required>Choisissez s'il vous plaît</option>
         <option value="Adhérer">Adhérer</option>
         <option value="Renouvellement">Renouvellement</option>
       </select></label>
        <label for="field2"><span>Montant à payer <span class="required">*</span></span><input type="text" class="input-field"
      id="amount" name="field2" value="10" disabled/> Euros  </label>
        <label for="field1"><span>Courriel <span class="required">*</span></span><input type="email" formControlName="email" class="input-field"
          name="field1" value="" required/></label>
        <button class="buttonfx curtainup" [disabled]="!memberData.valid">Submit</button>
        
    </form>

</div> -->

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form class="p-5" [formGroup]="memberData" (ngSubmit)="onSubmit()">

                    <p class="h4 mb-4 text-center">Veuillez remplir le formulaire</p>


                    <input class="form-control mb-4" id="textInput" type="text" formControlName="FirstName" placeholder="Mme/Mr Prénom" required>

                    <input type="text" id="defaultContactFormName" class="form-control mb-4" formControlName="LastName" placeholder="Nom" required>

                    <input type="text" formControlName="Address" id="AddressInp" class="form-control mb-4" value="" placeholder="Addresse" required />
                    <input type="number" formControlName="PostalCode" id="postalCodeInp" class="form-control mb-4" value="" placeholder="Postal code" min="0" minlength="3" required/>
                    <input type="text" formControlName="City" id="VilleInp" class="form-control mb-4" value="" placeholder="Ville" required />



                    <select id="defaultSelect" class="browser-default custom-select mb-4" formControlName="Type">
                    <option selected value ='' disabled="disabled" id="hehe" required>Choisissez s'il vous plaît</option>
                     
        <option value="Demandez de l'aide">Adhérer</option>
        <option value="Racontez-nous votre expérience">Renouvellement</option>
       
    </select>
                    <label>Montant à payer
    <input type="text" class="form-control mb-4"
    id="amount" name="field2" value="10" disabled/>
  </label><span id="currency" min="0"> €</span>

                    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Courriel" formControlName="email" required>
                    <button class="btn btn-info btn-block curtainup" type="submit" [disabled]="!memberData.valid" (click)="openDialog()">Soumettre</button>

                </form>
            </div>
        </div>
    </div>
</div>