<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 id="logo">Nos Missions</h1>
            <p>L'Association Emilys s'engage dans des actions visant à assurer et à renforcer la sécurité et la protection du personnel travaillant en laboratoire, sans distinction de domaine d'activité. Secteurs de la recherche privée et publique, de l'enseignement,
                de l'industrie pharmaceutique, du laboratoire d 'analyse médicale au domaine hospitalier, nous travaillons à informer, assister et soutenir le personnel exposé aux différents risques relevant du laboratoire</p>
            <p id="nos-miss">Nos missions se divisent selon trois grands axes :</p>
            <ul>
                <li>La mise en œuvre de démarche d'information et de sensibilisation des différents statuts de personnel exposé en laboratoire aux dangers et aux risques.</li>
                <li>Une action de veille et de surveillance quant au nécessaire respect de la législation existante en matière de formation, de protection et de sécurité, dans le but d'alerter les interlocuteurs publics ainsi que les dirigeants de laboratoire.</li>
                <li>Une démarche d'échange, de discussion et de débat visant à proposer afin de faire évoluer la législation en vigueur, en améliorant les règles de formation et de sécurité.</li>
            </ul>

            <img class src="assets/img/image1.png" />
        </div>
    </div>
</div>