
  <head></head>


<div class="container">

  <h1>Risques et prévention</h1>
  <p>

    Le personnel de laboratoire réalise des tâches pratiques et concrètes. Les domaines sont vastes et variés : santé,
    domaine des soins, milieu industriel, secteur de la recherche, enseignement,... .
    Qu’ils soient communs ou spécifiques à chaque domaine, les dangers en laboratoire sont nombreux et doivent être
    identifiés afin de mieux les maîtriser. Nous proposons dans cette partie d’éclaircir la différence entre les dangers
    et les risques, deux notions trop souvent amalgamées et qui ont leurs importances.

    Définition
    Pour comprendre les nuances qu’il y’a entre ces deux notions voici quelques définitions :

    Le danger est une caractéristique d’un produit, d’une machine, d’une situation… indépendamment de nos actes. Il peut
    être présent ou potentiel, connu ou inconnu, imminent ou différé. Sauf à l’éliminer, il est très dur d’agir sur un
    danger en lui même.

    Le risque n’est pas un danger, il en est la conséquence. Il est associé à nos actes.
  </p>
  <p>
    Il s’agit de la probabilité qu’une personne soit atteinte par un danger.

    L’exposition est un paramètre clé pour comprendre la relation entre danger et risque. Il s’agit du contact entre le
    danger et une personne. L’exposition dépend directement d’un dernier paramètre : le facteur de risque.

    Le facteur de risque est un élément qui va augmenter ou diminuer la probabilité de survenance et/ou la gravité d’un
    risque.

    La formule suivante résume la notion étroite entre le risque et le danger au quotidien :
  </p>

  <h3>Risque = Danger x Exposition</h3>
  <div class="image">
    <img id="imgOne" src="../../../assets/img/RisksPart(1).png" />

    <h5>Le risque résulte de l’exposition au danger</h5>
    <img id="imgOne" src="../../../assets/img/RisksPart(2).png" />
    <h5>L’exposition est aggravée par des facteurs de risque, la probabilité de survenance du risque est fortement
      augmentée</h5>
    <img id="imgOne" src="../../../assets/img/RisksPart(3).png" />
    <h5>L’exposition au danger est maîtrisée de manière à ce que le risque soit réduit.</h5>
  </div>

  <div>
    <p>
      Les dangers et les risques

      Les principaux risques du travail en laboratoire sont nombreux et variés en fonction des domaines. Il peut s’agir
      :

      <li> d’accidents avec exposition au sang ou autres matières biologiques avec risques de contamination.</li>
      <li> de blessures par coupures de verre ou par utilisation de matériel tranchant</li>
      <li> de brûlures par contact avec des flammes ou utilisation d’équipements chauds</li>
      <li> de brûlures par contact avec des matières cryogéniques (ultra-froides) comme l'azote liquide</li>
      <li> de brûlures mettant en cause des matières inflammables</li>
      <li> d’affections cutanées par des produits et réactifs chimiques</li>
      <li> d’atteintes radiologiques par des matières radioactives, des stérilisateurs à rayonnement ultraviolet et des
        lasers</li>
      <li> des atteintes oculaires par projection de liquide chimique</li>
      <li> des affections respiratoires</li>
      <li> des électrisations ou électrocutions</li>

      De par la diversité des produits utilisés, le travail en laboratoire est source de danger important. Les
      principaux risques pour la santé du personnel sont notamment :
    <table cellpadding="0" cellspacing="0" class="MsoNormalTable"
      style='width:451.45pt;margin-left:.1pt;border-collapse:collapse;border:none; mso-border-alt:solid black 1.0pt;mso-yfti-tbllook:1536;mso-padding-alt:0in 5.4pt 0in 5.4pt; mso-border-insideh:1.0pt solid black;mso-border-insidev:1.0pt solid black'
      width="0">
      <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
        <td style='width:112.4pt;border:solid black 1.0pt; padding:5.0pt 5.0pt 5.0pt 5.0pt' valign="top" width="150">
          <p class="MsoNormal" style='text-align:center;line-height:normal; mso-pagination:none'><span
              style='background:#D9EAD3;mso-ansi-language:EN-US; mso-no-proof:yes'><img height="76"
                src="../../../assets//img/ImageTbl(1).jpg" width="135"></span><span lang="fr"
              style='background:#D9EAD3'></span></p>
        </td>
        <td
          style='width:112.6pt;border:solid black 1.0pt; border-left:none;mso-border-left-alt:solid black 1.0pt;padding:5.0pt 5.0pt 5.0pt 5.0pt'
          valign="top" width="150">
          <p class="MsoNormal" style='line-height:normal;mso-pagination:none'><span
              style='background:#D9EAD3;mso-ansi-language:EN-US;mso-no-proof:yes'>
              <img height="88" src="../../../assets//img/ImageTbl(2).jpg" width="135"></span><span lang="fr"
              style='background:#D9EAD3'></span></p>
        </td>
        <td
          style='width:113.65pt;border:solid black 1.0pt; border-left:none;mso-border-left-alt:solid black 1.0pt;padding:5.0pt 5.0pt 5.0pt 5.0pt'
          valign="top" width="152">
          <p class="MsoNormal" style='line-height:normal;mso-pagination:none'><span
              style='background:#D9EAD3;mso-ansi-language:EN-US;mso-no-proof:yes'><img height="84"
                src="../../../assets//img/ImageTbl(3).jpg" width="135"></span><span lang="fr"></span></p>
        </td>
        <td
          style='width:112.8pt;border:solid black 1.0pt; border-left:none;mso-border-left-alt:solid black 1.0pt;padding:5.0pt 5.0pt 5.0pt 5.0pt'
          valign="top" width="150">
          <p class="MsoNormal" style='line-height:normal;mso-pagination:none'><span
              style='background:#D9EAD3;mso-ansi-language:EN-US;mso-no-proof:yes'><img height="80"
                src="../../../assets//img/ImageTbl(4).jpg" width="135"></span><span lang="fr"></span></p>
        </td>
      </tr>
      <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
        <td
          style='width:112.4pt;border:solid black 1.0pt; border-top:none;mso-border-top-alt:solid black 1.0pt;padding:5.0pt 5.0pt 5.0pt 5.0pt'
          valign="top" width="150">
          <p class="MsoNormal" style='text-align:center;line-height:normal; mso-pagination:none'><span lang="fr">Les
              risques physiques</span></p>
        </td>
        <td
          style='width:112.6pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; mso-border-top-alt:solid black 1.0pt;mso-border-left-alt:solid black 1.0pt; padding:5.0pt 5.0pt 5.0pt 5.0pt'
          valign="top" width="150">
          <p class="MsoNormal" style='text-align:center;line-height:normal; mso-pagination:none'><span lang="fr">Les
              risques chimiques</span></p>
        </td>
        <td
          style='width:113.65pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; mso-border-top-alt:solid black 1.0pt;mso-border-left-alt:solid black 1.0pt; padding:5.0pt 5.0pt 5.0pt 5.0pt'
          valign="top" width="152">
          <p class="MsoNormal" style='text-align:center;line-height:normal; mso-pagination:none'><span lang="fr">Les
              risques biologiques</span></p>
        </td>
        <td
          style='width:112.8pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; mso-border-top-alt:solid black 1.0pt;mso-border-left-alt:solid black 1.0pt; padding:5.0pt 5.0pt 5.0pt 5.0pt'
          valign="top" width="150">
          <p class="MsoNormal" style='text-align:center;line-height:normal; mso-pagination:none'><span lang="fr">Les
              risques radioactifs</span></p>
        </td>
      </tr>
    </table>
    <hr>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <video width="400" controls>
      <source src="../../../assets/Videos/RisksAndDangers.mp4" type="video/mp4">


    </video>
    <div class="downInfo"></div>
    <h1>L’exposition</h1>
    <p>Afin de limiter au maximum l’exposition du personnel de laboratoire, plusieurs outils doivent être utilisés. Ils
      regroupent les équipements de protection collective, les procédure d’information et formation, les formations
      renforcées et spécifiques à certains risques, les équipements de protection individuelle.

      D’une manière générale, pour réduire l'exposition au danger les mesures de protection collective sont mise en
      place en priorité. Les protections individuelles sont quant à elles appliquées au poste de travail si la réduction
      de l'exposition n’est toujours pas suffisante ou s’il n’est pas possible de le réduire autrement..

      Ainsi le personnel doit avant de commencer n’importe quel travail à risque d’abord avoir été informé des risques
      potentiels auquel il est exposé. Il doit également être formé à l’utilisation du matériel de protection, sur les
      différentes procédures opératoires ainsi que les procédures d’urgence à appliquer en cas d'accident. Des règles
      supplémentaires s’appliquent sur certains risques identifiés comme hautement dangereux. </p>


    <h4>Mettre un lien vers la page Règles de sécurité et Formation</h4>

    Chaque personnel de laboratoire doit également veiller à sa propre sécurité ainsi qu'à celle de ses collègues en
    respectant les bonnes pratiques de laboratoire, en respectant l’utilisation des équipements de protection
    individuelle adaptés aux risques générés par les tâches à effectuer et ne pas porter des vêtements inadaptés
    (chaussures ouvertes et vêtements courts) ou des cheveux longs non attachés.

    <h4>Mettre un lien vers la page Les équipements de protection</h4>

    Les facteurs de risques
    Le facteur de risque est un paramètre qui augmente la probabilité de développer une maladie ou de souffrir d’un
    traumatisme. L’accumulation de plusieurs facteurs de risques augmente significativement la probabilité de survenue
    du risque.

    Quelques exemples de facteurs de risque

    Plusieurs facteurs peuvent conduire à augmenter un risque. On peut citer de manière générale l’âge, l'expérience
    dans le domaine, les capacités physiques ainsi que l’état de santé, l’environnement physique, psychosocial et
    organisationnel.
    L’âge et l’expérience
    Avec l’âge peuvent apparaître des troubles locomoteurs, des fatigues, qui en fonction de la profession peuvent être
    facteurs de handicap dans certaines professions et ainsi devenir facteurs de risque.
    A l’opposé, un jeune âge signifie souvent une faible expérience, ce qui devient un facteur de risque important
    également. Une solide expérience permet de mieux identifier les risques et de savoir les maîtriser. La formation
    spécifique dans un domaine à risque permet d’augmenter l’expérience et ainsi réduire les risques.
    Les capacités physiques et l’état de santé
    Les capacités physiques et l'état de santé du travailleur déterminent son niveau d'astreinte physique pour réaliser
    un travail donné. Une personne en mauvaise santé et physiquement fatiguée court un risque supplémentaire important
    d’avoir un accident et est plus sensible au développement d’une maladie professionnelle.

    L’environnement physique et l’organisation du travail
    L’environnement de travail est un important facteur de risque qu’il faut prendre en compte. Il peut induire une
    augmentation des astreintes. Il détermine les déplacements, les postures adoptées. Par exemple : la qualité du sol
    peut exposer le travailleur à des glissades, des chutes ; un travail avec des outils coupants expose à des
    blessures.

    L’organisation du travail est également un paramètre majeur de l'adaptation de l'activité physique au travail. Les
    prises d’information, les gestes et les postures pendant la tâche sont liés à l’organisation du travail. Celle-ci
    détermine la succession des tâches, la mise en place de pauses, la répartition des moyens humains, l’usage des
    outils…

    L’environnement psychosocial
    Le contexte psychosocial dans lequel évolue les travailleurs peut devenir un facteur de risque à ne pas négliger.
    L’environnement psychosocial englobe les déterminants perçus tels que les relations aux collègues, à la hiérarchie,
    la pression de la production (temporelle, qualitative, quantitative, ...), la reconnaissance sous toutes ses
    formes.... Les facteurs psychosociaux sont reconnus comme aggravant d’autres facteurs de risque.

    Rythmes biologiques
    Les rythmes biologiques font varier tous les paramètres physiologiques selon un rythme journalier. Ces modifications
    rythmiques sont associées à des variations de la performance qui est plus faible la nuit et augmente au cours de la
    journée. L’Homme ayant une activité diurne, n’est pas adapté au travail nocturne. Le travail de nuit ou posté
    représente une agression pour l’organisme, supportée différemment selon les personnes.

  </div>
