<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h1>Rejoignez Emilys </h1>
                <h3>Pourquoi adhérer?</h3>
            </div>
            <div class="content">
                <p>Agissons ensemble pour la sécurité des personnels de laboratoire mais aussi pour tous métiers des domaines de la santé/recherche. Ensemble, on est plus fort.En adhérant, vous faites partie pleinement du processus décisionnel de l'association
                    et pouvez devenir bénévole à nos cotés, vous pourrez participer en votant aux assemblées générales et compter sur notre soutien pour vos projets et vos renvedications concernant la sécurité dans les laboratoires.
                </p>
                <p id="par-three">Rejoignez nous au sein de ce collectif pour faire entendre votre voix !</p>

                <!-- <p id="par-three">Devenir membre vous coûtera 10 euros par an uniquement en tant que membre actif !</p> -->
            </div>
            <div class="PayWay">
                Veuillez choisir votre mode de don.
            </div>
            <br>
            <a href="https://www.helloasso.com/associations/emilys/formulaires/1/widget" class="btn btn-primary btn-block">Don sécurisé en ligne : <br> Via le site Helloasso</a>
            <a [routerLink]="'/FormulaireDePaiement'" class="btn btn-primary btn-lg btn-block">Don par chèque : <br> Adressé au 129 Avenue de Saint-ouen, 75017 Paris</a>
            <a [routerLink]="'/FormulaireDePaiement'" class="btn btn-primary btn-lg btn-block">Don par virement bancaire: Crédit Mutuel <br>IBAN: FR76 1027 8062 7400 0210 7770 178 <br> BIC: CMCIFR2A</a>
        </div>
    </div>
</div>

<!-- <div class="Membership">

    <div class="header">
        <h1>Rejoignez Emilys</h1>
        <h3>Pourquoi adhérer?</h3>
    </div>

    <div class="content">
        <p>Agissons ensemble pour la sécurité des personnels dans le laboratoire mais aussi tous métiers du domaine de la santé/recherche. Ensemble, on est plus forts ! </p>
    </div>
    <div class="member">
        <p>L’adhésion vous permet de faire partie du processus décisionnel de l’association et d’être bénévole avec nous, de participer et de voter aux assemblées, de vous associer à nous pour vos projets et vos revendications concernant la sécurité dans
            les laboratoires. Devenez vous aussi membre de ce collectif pour faire entendre votre voix !</p>

        <p>Devenir membre vous coûtera 10 euros par an uniquement en tant que membre actif!</p>
    </div>

    <div class="middle">
        <a href="https://www.helloasso.com/associations/emilys/formulaires/1/widget" class="btn btn3">Don sécurisé en ligne : via le site Helloasso, paiement sécurisé par certicode </a>
        <a [routerLink]="'/FormulaireDePaiement'" class="btn btn4"> Don par chèque envoyé par courrier à 129 Avenue de Saint-ouen, 75017 Paris</a>
        <a [routerLink]="'/FormulaireDePaiement'" class="btn btn4"> Don par virement bancaire <br>IBAN : FRxx xxxx xxxx xxxx xxxx xxxx xxx <br> BIC : xxxxxxxx
      </a>

    </div>

</div> -->