<h2>Les acteurs de la sécurité et de la prévention :
  Missions, droits et responsabilités</h2>

<p>
  La santé et la sécurité au travail est régie par le Code du Travail qui légifère les principes généraux en matière de
  prévention, de protection et de sécurité.
  La sécurité est l’affaire de tous. Chacun doit se préoccuper de sa propre sécurité et de celle des autres (collègues,
  agents d’entreprises extérieures, étudiants) et chacun doit s’informer des bonnes pratiques de travail, des
  dispositions à prendre en cas d’accident ou de sinistre et être conscient des responsabilités engagées.

  Armel : J’essaye de projet un plan ici :
</p>
<h4>Les différentes réglementations.</h4>
<p>
  De manière générale, les textes de lois sont classés en suivant un principe hiérarchique. Au sommet on retrouve les
  textes constitutionnels et à sa base le règlement intérieur d’entreprise et le contrat de travail. Ce principe de
  hiérarchisation impose qu’aucun texte ne peut aller à l’encontre d’un autre qui lui est supérieur. Ces lois sont
  classés selon l’autorité qui leur est attachées.
  L’employeur a l’obligation de veiller à votre santé et à votre sécurité au travail. La réglementation en matière de
  santé et sécurité au travail est définie à plusieurs niveaux. En cas de non-respect, votre employeur peut engager sa
  responsabilité civile et/ou pénale.
</p>
<img src="../../../../src/assets/img/RespoImg(1).png" />
<div class="partTwo">

  <h3>La notion de responsabilité.</h3>
<p>
  La responsabilité est l'obligation de répondre de certains de ses actes. Elle a pour conséquence le devoir de réparer
  un préjudice causé à quelqu'un de par son fait ou par le fait de ceux dont on a en charge la surveillance. La
  responsabilité peut également entraîner une sanction. La responsabilité concerne des personnes physiques, par exemple
  le ou les auteurs des faits reprochés, et des personne morale comme un établissement, une entreprise, une
  collectivité.

  Au sein d’une même entreprise, tout le monde est concerné par la responsabilité, du chef d’établissement à l’agent
  salarié.
</p>

<p>
  Le code pénal définit deux types de responsabilités :

  ● La responsabilité source d’indemnisation, c’est la responsabilité civile.
  Comme son nom l’indique, cette responsabilité a uniquement une fonction indemnitaire. Elle est mise en jeu lorsque, de
  part son fait, une personne a entraîné un dommage. La personne responsable engage sa responsabilité dans le sens
  où elle doit indemniser la victime. Son but n’est donc pas de punir un responsable mais d’indemniser une victime.
  La responsabilité civile est régie principalement par les articles suivants du Code Civil :
  Article 1240 : " Tout fait quelconque de l’homme, qui cause à autrui un dommage, oblige celui par la faute duquel il
  est arrivé, à le réparer. "
  Article 1241 : " Chacun est responsable du dommage qu’il a causé non seulement par son fait, mais encore par sa
  négligence ou par son imprudence. "
  Article 1242 : " On est responsable non seulement du dommage que l’on cause par son propre fait, mais encore de celui
  qui est causé par le fait des personnes dont on doit répondre, ou des choses que l’on a sous sa garde. "

  ● Il peut s’agir d’une responsabilité source de sanction, c’est la responsabilité pénale.

  Elle résulte d’une infraction commise intentionnellement ou non. Les comportements que la société définit comme
  répréhensibles sont appelés infractions. Ils sont énumérés dans le Code pénal. Il en existe 3 catégories : les
  contraventions, les délits, les crimes, du moins grave au plus grave.

  Dans le cadre de la santé et la sécurité en milieu professionnel, si la responsabilité pénale est engagée il s’agit
  majoritairement de délit.


  Les délits en matière de santé et sécurité au travail
</p>
<h3></h3>Les différents acteurs et leurs responsabilités.
L’employeur
   Obligation de l’employeur
   La démarche de prévention
   Le document unique
Le salarié
   Le droit de retrait
   Le droit à la formation
L’agent de prévention
Le médecin de prévention
Les instances de prévention
L’inspection du travail
et les autres acteurs de la prévention







1/L’employeur

A-Obligation de l’employeur

En vertu du contrat de travail qui lie un employeur à son salarié, l’employeur est tenu à une obligation de sécurité de résultat à l’égard de ces derniers.

Une obligation de sécurité de résultat
L’employeur est tenu par la loi de prendre toutes les mesures nécessaires pour assurer la sécurité et protéger la santé physique et mentale de ses salariés (article L. 4121-1 du Code du travail). L’employeur ne doit pas seulement diminuer le risque, mais l’empêcher. Cette obligation est une obligation de résultat, c’est-à-dire qu’en cas d’accident ou de maladie liée aux conditions de travail, sa responsabilité pourra être engagée.

Obligations générales de l'employeur

Article L. 4121-1 du code du travail :

« L’employeur prend les mesures nécessaires pour assurer la sécurité et protéger la santé physique et mentale des travailleurs.
Ces mesures comprennent :
1° Des actions de prévention des risques professionnels ;
2° Des actions d’information et de formation ;
3° La mise en place d’une organisation et de moyens adaptés.
L’employeur veille à l’adaptation de ces mesures pour tenir compte du changement des circonstances et tendre à l’amélioration des situations existantes. »

Dans le cadre de cette obligation de sécurité de résultat, l’employeur est tenu de mettre en œuvre les principes généraux de prévention prévus par l’article 4121-2 du Code du travail, en supprimant ou limitant les expositions des travailleurs aux risques physiques, chimiques ou biologiques dangereux à l’origine de maladies professionnelles. Il est également tenu d’informer et de former les travailleurs sur les dangers et les moyens de prévention mis en œuvre au niveau de leurs postes de travail.


Article L. 4121-2 du code du travail :

« L’employeur met en œuvre les mesures prévues à l’article L. 4121-1 sur le fondement des principes généraux de prévention suivants :
1° Éviter les risques ;
2° Évaluer les risques qui ne peuvent pas être évités ;
3° Combattre les risques à la source ;
4° Adapter le travail à l’homme, en particulier en ce qui concerne la conception des postes de travail ainsi que le choix des équipements de travail et des méthodes de travail et de production, en vue notamment de limiter le travail monotone et le travail cadencé et de réduire les effets de ceux-ci sur la santé ;
5° Tenir compte de l’état d’évolution de la technique ;
6° Remplacer ce qui est dangereux par ce qui n’est pas dangereux ou par ce qui est moins dangereux ;
7° Planifier la prévention en y intégrant, dans un ensemble cohérent, la technique, l’organisation du travail, les conditions de travail, les relations sociales et l’influence des facteurs ambiants, notamment les risques liés au harcèlement moral et au harcèlement sexuel, tels qu’ils sont définis aux articles L. 1152-1 et L. 1153-1, ainsi que ceux liés aux agissements sexistes définis à l’article L. 1142-2-1 ;
8° Prendre des mesures de protection collective en leur donnant la priorité sur les mesures de protection individuelle ;
9° Donner les instructions appropriées aux travailleurs. »

Suite à cette évaluation, l’employeur doit mettre en place des actions de prévention comme des formations, ou des méthodes de travail garantissant un meilleur niveau de protection de votre santé et sécurité. Ces actions sont intégrées dans l’ensemble des activités de votre établissement et à tous les niveaux d’encadrement.

Article L. 4121-3 du code du travail. : « L’employeur, compte tenu de la nature des activités de l’établissement, évalue les risques pour la santé et la sécurité des travailleurs, y compris dans le choix des procédés de fabrication, des équipements de travail, des substances ou préparations chimiques, dans l’aménagement ou le réaménagement des lieux de travail ou des installations et dans la définition des postes de travail.
A la suite de cette évaluation, l’employeur met en œuvre les actions de prévention ainsi que les méthodes de travail et de production garantissant un meilleur niveau de protection de la santé et de la sécurité des travailleurs. Il intègre ces actions et ces méthodes dans l’ensemble des activités de l’établissement et à tous les niveaux de l’encadrement. »

B- le document unique : (Art. R. 4121-1 et suivants du Code du travail)
Concernant l’évaluation des risques, l'employeur transcrit et met à jour dans un document unique les résultats de l'évaluation des risques pour la santé et la sécurité des travailleurs à laquelle il procède en tenant compte de la nature des activités de l'établissement, du choix des procédés de fabrication, des équipements de travail, des substances ou préparations chimiques, dans l'aménagement ou le réaménagement des lieux de travail ou des installations et dans la définition des postes de travail.
Cette évaluation comporte un inventaire de l’ensemble des risques identifiés dans chaque unité de travail de l'entreprise ou de l'établissement.
L'employeur doit consigner, en annexe du document unique :
●	les données collectives utiles à l’évaluation des expositions aux facteurs de pénibilité de nature à faciliter la déclaration, le cas échéant, à partir de l'identification de postes, métiers ou situations de travail figurant dans un accord collectif de branche étendu ou un référentiel professionnel de branche homologué.
●	la proportion de salariés exposés à ces facteurs au-delà des seuils réglementaires(article R. 4121-1-1 du Code du travail).
 Ce document unique est régulièrement mis à jour, au minimum une fois par an et à chaque décision d'aménagement important modifiant les conditions de santé et de sécurité ou les conditions de travail article L. 4612-8 du Code du travail)..
 C- la démarche de prévention :
1.	Qu’est ce que la démarche de prévention ?
La prévention des risques professionnels regroupe l’ensemble des dispositions à mettre en œuvre afin de préserver la santé et la sécurité du personnel mais également améliorer les conditions de travail et tendre au bien être au travail.
La démarche de prévention se construit en impliquant tous les acteurs internes concernés en tenant compte des spécificités de l’entreprise. Cette démarche est basée sur les neufs grands principes généraux du Code du Travail sur la prévention (article L. 4121-2 du Code du travail):
1.	Eviter les risques. En supprimant le danger ou l’exposition au danger.
2.	Evaluer les risques. En appréciant l’exposition au danger et l’importance du risque afin de prioriser les actions de prévention à mener.
3.	Combattre les risques à la source. En intégrant la prévention le plus en amont possible, notamment dès la conception des lieux de travail, des équipements ou des modes opératoires.
4.	Adapter le travail à l’Homme. En tenant compte des différences interindividuelles dans le but de réduire les effets du travail sur la santé.
5.	Tenir compte de l’évolution des techniques. En adaptant la prévention aux évolutions des techniques et à leur organisation.
6.	Remplacer ce qui est dangereux par ce qui l’est moins. En évitant d’utiliser des procédés ou des produits dangereux lorsqu’un même résultat peut être obtenu avec une méthode présentant des dangers moindres.
7.	Planifier la prévention.
8.	Donner la priorité aux mesures de protection collective. En utilisant les équipement s de protection individuelle qu’ne compléemnt des proctections collectives si elles se révèlent insuffisantes.
9.	Donner les instructions appropriées au personnel. En formant et en informant les salariés afin qu’ils connaissent les risques et les mesures de prévention.

2. Le processus de la démarche prévention.

Pour mener à bien sa démarche de prévention, l’employeur devra :
●	élaborer une politique de prévention en s’assurant de sa large diffusion,
●	mettre en œuvre un plan d’actions de prévention adapté,
●	assurer le pilotage technique et financier des actions,
●	désigner un salarié compétent pour s’occuper des activités de protection et de prévention des risques professionnels (PPRP) et si les compétences dans l'entreprise ne permettent pas d'organiser ces activités, l'employeur peut faire appel à des ressources extérieures,
●	impliquer :
- les ressources humaines (pour ce qui concerne le recrutement, la formation, la gestion des compétences, les relations sociales, la gestion prévisionnelle de l’emploi, le maintien dans l’emploi, l’insertion des travailleurs handicapés…),
- le personnel d’encadrement, à savoir les managers ou responsables d’équipes, qui sont le relai indispensable dans le domaine de l’organisation du travail et du management des salariés. Il met en œuvre la politique de prévention, est responsable de la bonne application des mesures prises en la matière, fait la promotion des actions de prévention et dialogue avec leurs équipes pour une circulation des informations,
- les acteurs de l’ingénierie (concepteurs, ergonomes, bureau des méthodes, acheteurs…) doivent être associés, quand leur fonction existe dans l’entreprise, pour élaborer, choisir et mettre en œuvre des actions de prévention adaptées. Ils ont en effet la responsabilité des moyens techniques et organisationnels, ce sont des prescripteurs qui intègrent et prennent en compte les exigences requises en matière de santé et de sécurité dans les appels d’offres et les cahiers des charges (au-delà des critères de coût, de qualité, de productivité…),
- les instances représentatives du personnel (CHSCT, délégués du personnel),
- les services de santé au travail.
3. Le suivi de la démarche prévention.

La prévention des risques professionnels n’est pas statique et définitive. Elle doit être construite en tenant compte de l’évolution dans l’entreprise, des facteurs humains, techniques et organisationnels tels que l’embauche de nouveaux salariés, l’acquisition d’équipements, la conception de machines, l’adoption de nouvelles méthodes de travail ou encore les changements de poste.
Mesurer continuellement l’efficacité des actions mises en place permet de proposer si nécessaire des solutions correctrices. Si cette phase d’évaluation est ouverte aux salariés, la phase de décision et de donc de responsabilité appartient seulement à l’employeur.

 2/L’employé :

A-Droits et obligations des salariés

Si l’employeur est responsable de l’application des mesures réglementaires de prévention, les travailleurs sont tenus de se soumettre au suivi médical, complété ou non par des examens complémentaires, prescrits par le médecin du travail. Ils ont aussi l’obligation de préserver leur santé ainsi que celles des autres.
Ainsi chaque salarié doit prendre soin, en fonction des formations reçues, de sa santé et de sa sécurité.

Si le salarié a un motif raisonnable de penser que sa situation de travail présente un danger grave et imminent pour la santé ou l’environnement, il dispose d’un droit d’alerte ou de retrait :

Le droit d’alerte ou de retrait du salarié

Le droit d'alerte et de retrait est consacré par le Code du travail(article L. 4131-1 du Code du travail). Le salarié dispose d'un droit d'alerte et de retrait dans toute situation de travail où il a un motif raisonnable de penser qu'elle présente un danger grave et imminent pour sa vie ou sa santé, sans avoir à respecter une quelconque formalité.
Si le salarié estime que sa situation de travail présente un danger grave et imminent pour sa vie ou sa santé, il peut quitter son poste. . Dans un premier temps, le salarié doit alerter son responsable. Ensuite, il attend que l’employeur ait rétabli la situation avant de retourner sur son poste.
L’employeur ne peut pas sanctionner un salarié qui aurait exercé son droit de retrait à juste titre (article L. 4131-3 du Code du travail). En revanche, en cas de retrait illégitime (prétexte utilisé par le salarié pour quitter son poste), l’employeur peut sanctionner le salarié.
B-Accès aux registres de santé et sécurité et droit à la formation :
L’agent peut accéder :
-	au registre de santé et de sécurité au travail qui permet de consigner toutes les observations et suggestions relatives à la prévention des risques et à l’amélioration des conditions de travail.
-	au registre spécial pour le signalement des dangers graves.
Il a droit à l’information et la formation et doit obligatoirement bénéficier d’une formation pratique et appropriée : (Faire un lien vers la rubrique formation ?)
-	 lors de l’entrée en fonction,
-	 lors d’un changement de fonction ou de technique,
-	en cas d’accident de service grave ou de maladie professionnelle,
-	en cas d’accidents répétés ou à la demande du médecin de prévention.
Cette formation concerne les conditions de circulation, les conditions d’exécution du travail, les dispositions à prendre en cas d’accident ou de sinistre et les responsabilités encourues.

  3/L’agent de prévention :
1/ Cadre réglementaire et positionnement :
-	La loi n°84-53 du 26 janvier 1984 portant dispositions statutaires relatives à la fonction publique territoriale modifiée par la loi n°2007-209 du 19 février 2007 et la loi n°2012-347 du 12 mars 2012.
-	Le décret n°85-603 du 10 juin 1985 modifié relatif à l’hygiène et à la sécurité du travail ainsi qu’à la médecine préventive dans la fonction publique territoriale.
-	L’arrêté du 29 janvier 2015 relatif aux formations initiales et continues des agents de prévention. Toutes les collectivités territoriales et établissements publics ont ainsi l’obligation de désigner au moins 1 agent de prévention au sein de leur structure.
Les agents de prévention ne se substituent pas aux chefs de service qui sont responsables de la mise en œuvre des actions de prévention de part leur fonction.
2/ Définitions et missions :
Le réseau des agents de prévention se décline en 2 niveaux:  les assistants de prévention qui constituent le niveau de proximité et les conseillers de prévention qui sont désignés lorsque l’importance des risques professionnels ou des effectifs le justifie. Ils assurent notamment une mission de coordination des assistants de prévention.
Les agents de prévention sont chargés d’assister et de conseiller l’autorité territoriale auprès de laquelle ils sont placés, dans:
-	la démarche d’évaluation des risques,
-	la mise en place d’une politique de prévention des risques,
-	la mise en œuvre des règles de sécurité et d’hygiène au travail.
L’objectif est de:
-	prévenir les dangers susceptibles de compromettre la sécurité ou la santé des agents,
-	améliorer les méthodes et le milieu de travail en adaptant les conditions de travail en fonction de l’aptitude physique des agents,
-	faire progresser la connaissance des problèmes de sécurité et des techniques propres à les résoudre,
-	veiller à l’observation des prescriptions législatives et réglementaires prises en ces matières et à la bonne tenue du registre de santé et de sécurité au travail dans tous les services.
Les agents de prévention proposent des mesures pratiques propres à améliorer la prévention des risques et participent, en collaboration avec les autres acteurs, à la sensibilisation, l’information et la formation des personnels.
L’agent de prévention tire les enseignements des accidents et incidents survenus et veille à la mise en place des premiers secours en cas d'accident, et d'une équipe de première intervention spécialisée en cas de risques spécifiques. ls peuvent être associés aux travaux du CHSCT et assister de plein droit, avec voix consultative, aux réunions du CHSCT.
3/ Moyens et Formation :
Il est indispensable de définir le temps alloué pour que l’agent de prévention puisse mener à bien sa mission et organiser son travail quotidien. Une base minimale de 2 h/semaine semble nécessaire (cf. annexe 1 de la circulaire du 12 octobre 2012 relative à l’application du décret n° 85-603 du 10 juin 1985 modifié).
Les assistants de prévention doivent bénéficier d’une formation initiale sur l’acquisition des bases et repères nécessaires au premier exercice de la fonction et la capacité d’intervenir dans le cadre d’une démarche de prévention des risques professionnels, et d’une formation continue à suivre tous les ans.
Les conseillers de prévention doivent bénéficier d’une formation initiale sur l’acquisition d’une bonne compréhension de son rôle et de ses missions de conseiller de prévention et la capacité à animer une démarche de prévention des risques professionnels, et une formation continue à suivre tous les ans.

4/ Le médecin de prévention :
1/ Cadre réglementaire : Code du travail et Décret n° 82-453 du 28 mai 1982 modifié
L’élu employeur est tenu à une obligation de sécurité à l’égard de ses agents. Un des aspects de cette obligation est la surveillance médicale des agents, dont la mise-en-œuvre lui incombe. L’élu employeur doit donc faire appel à un médecin de prévention. C’est par le biais de la convention d’adhésion en conseil en prévention des risques au travail que le Centre de Gestion met à disposition une équipe pluridisciplinaire composée du médecin de prévention, du préventeur et de la psychologue du travail.
 Le Code du travail (Art. R. 4224-14 et suivants) fait obligation à l'employeur d'organiser dans son entreprise les soins d'urgence à donner aux salariés accidentés et aux malades. En l’absence d’infirmier(e) assurant une présence permanente, l’employeur doit prendre l’avis du médecin du travail pour définir les mesures nécessaires.
2/ Ses missions :
-	Assurer le suivi médical des agents
Selon la loi n° 84-53 modifiée, le médecin de prévention a pour « mission d’éviter toute altération de la santé des agents du fait de leur travail, notamment en surveillant les conditions d’hygiène du travail, les risques de contagion et l’état de santé des agents… ».
Le médecin de prévention définit alors la fréquence et la nature des visites médicales selon le décret 85-603 modifié relatif à l’hygiène et à la sécurité du travail ainsi qu’à la médecine professionnelle et préventive dans la Fonction Publique Territoriale.
-	Assurer des actions en milieu du travail
Le médecin de prévention consacre, en plus des examens médicaux individuels, du temps au sein de la collectivité en vue de connaître les activités qui y sont réalisées, de voir les conditions de travail. Les actions sur le lieu de travail portent selon la réglementation sur :
-	l’amélioration des conditions de vie et de travail dans les services,
-	l’hygiène générale des locaux,
-	l’adaptation des postes, des techniques et des rythmes de travail à la physiologie humaine,
-	la protection des agents contre l’ensemble des nuisances et des risques d’accident de service ou de maladie,
-	l’information sanitaire,
-	les campagnes de prévention dans le champ professionnel ou en matière de santé publique.
Ces dispositions se traduisent par des visites de sites, des actions de sensibilisation aux risques, des analyses de postes, l’analyse de retours d’examens complémentaires…
Outre les actions d’information et de formation relatives à la prévention et au secourisme qui sont des actions complémentaires en milieu de travail, le médecin de prévention siège de plein droit aux réunions  du Comité Technique (CT) ou au comité d’hygiène, de sécurité et des conditions de travail (CHSCT) avec voix consultative.
5/ Les instances de concertation :
Plusieurs types d’instance existent :
-	Le comité d’hygiène, de sécurité et des conditions de travail central (CCHSCT),
-	le comité régional d’hygiène, de sécurité et des conditions de travail (CRHSCT),
-	et des instances de concertation locales telles que le CLHSCT (comité local d’hygiène, sécurité et des conditions de travail, les commissions locales ou le conseil de laboratoire.
1/cadre réglementaire : Code du travail et Décret n° 82-453 du 28 mai 1982 modifié
Les CHSCT sont des instances de concertation ayant pour objet de contribuer à la protection de la santé physique et mentale et de la sécurité des agents dans leur travail.
Créé par arrêté du 29 mai 2012. Il exerce ses missions pour l’ensemble de l’établissement et examine les travaux des comités régionaux spéciaux d’hygiène, de sécurité et des conditions de travail des délégations régionales (CRHSCT).
Depuis le 1er janvier 2020, les CHSCT n’existe plus (Décret n° 2020-39 du 22 janvier 2020). Toutefois, leurs missions seront assurées par le Comité social et économique (CSE), et s’il en existe une au sein de l’entreprise, par la Commission santé sécurité et conditions de travail (CSSCT).

à vérifier et précider
2/ les missions :
Leur rôle est de est de prendre connaissance des mentions portées au registre de santé et sécurité au travail, des rapports de visite de l'unité établis par l'IRPS et par les agents chargés de l'inspection, ainsi que des recommandations proposées par le médecin de prévention et de tout rapport technique concernant la structure. Ils ont pour missions de :
-	Procéder à l’analyse des risques professionnels
-	contribuer à la promotion de la prévention (notamment des harcèlements moral et sexuel)
-	Suggérer toute mesure d’amélioration, d’instruction et de formation en matière d’hygiène et sécurité
-	Réaliser des visites d’unité
-	Procéder à des enquêtes en cas d’accident ou de maladie professionnelle à caractère grave ou répétitif
-	Auditer un établissement voisin dans le cadre de nuisances
-	Demander une expertise agréée
-	Etre informé des visites et observations des ISST
6/ L'inspection :
Les agents chargés des fonctions d’inspection en matière de santé et de sécurité au travail proposent aux chefs d’établissement toute mesure qui leur paraît de nature à améliorer l’hygiène et la sécurité du travail et la prévention des risques professionnels.
Ils contrôlent l'application de la réglementation pour les domaines de la santé et de la sécurité, conseille et formule des propositions pour sa mise en oeuvre et son respect, participe aux projets et aux demandes des services dans le domaine de la prévention
1/ l’inspecteur santé et sécurité du travail :
Dans la fonction publique, le contrôle interne est confié au corps des inspecteurs de santé et de sécurité de l’IGAENR (ISST). Les activités de l’inspecteur sont :
-	l’inspection :
-	Diagnostique son périmètre d’intervention, son champ d’action, les priorités d’action au regard de la structure inspectée et des situations de travail constatées
-	Contrôle les conditions d'application par les services de la réglementation pour les domaines de la santé et de la sécurité au travail
-	Evalue la prise en compte des enjeux de prévention dans le fonctionnement des services (management santé et sécurité, fonctionnement des instances consultatives, définition et suivi du plan de prévention...)
-	Propose aux chefs de service toute mesure de prévention des risques professionnels destinée à améliorer la sécurité et à préserver la santé
-	Met en en œuvre ou participe à des enquêtes spécialisées (sur les lieux d'accidents graves et en cas de danger grave et imminent, notamment)
-	Rédige des rapports consécutifs aux interventions

-	le conseil :
-	Conseille et vient en appui aux chefs de service, médecins de prévention et aux assistants et conseillers de prévention dans l'élaboration et la mise en œuvre de leurs démarches de prévention
-	Participe au dialogue entre les partenaires dans le domaine de la santé et la sécurité, en particulier lors des réunions de Comité d’hygiène, de sécurité et des conditions de travail.
-	Peut intervenir en médiation entre le chef de service et le CHSCT lors de certaines procédures (danger grave et imminent et recours à l’expertise agréée)

-	l’animation de réseau :
Il peut contribuer à l’animation des réseaux des acteurs de la prévention (information, conseil, formation).
2/ Les contrôles externes :
En fonction des établissements, il est parfois obligatoire d’avoir recours à des contrôles externes :
●	l’inspection du travail (EE) :
-	conseil et experts : dans le cas d’une situation de travail présentant un risque grave pour la santé ou la sécurité des agents, en cas de désaccord sérieux entre l’administration et le CHSCT, en présence de l’inspection au CHSCT, dans le cadre de la mise en œuvre du droit de retrait
-	de droit si nécessaire dans le cadre de l’intervention d’une entreprise extérieure.
●	l’inspection vétérinaire : (Code de la santé publique)
-	conformité des animaleries et bien-être des animaux
-	restauration collective: hygiène des restaurants et des cuisines, mise en œuvre de HACCP
●	l’inspection des ICPE : installation classées pour la protection de l’environnement (Code de l’environnement)
●	la Commission de sécurité (Code de la construction et de l’habitation)
-	conformité des établissements recevant du public (ERP)
-	conformité des immeubles de grande hauteur (IGH)
●	l’autorité de sûreté nucléaire : ASN : contrôle des activités nucléaires couvrant toute activité touchant à la mise en œuvre ou à l’utilisation de substances radioactives ou de rayonnements ionisants.
●	l’agence nationale de sécurité du médicament et des produits de santé : ANSM :  contrôle la sécurité sanitaire des médicaments et des produits de santé (Code de la santé publique).
●	le Haut conseil des Biotechnologie HCB pour le contrôle des OGM (Code de l’environnement).
7/ Les autres acteurs de la sécurité :
Au niveau local, plusieurs personnes ont un rôle important dans la sécurité, il ne faut pas les oublier :
-	les chargés d’évacuation
-	les sauveteurs secouristes du travail (SST)
-	les personnes compétentes en radioprotection (PCR)
-	les responsables sécurité Laser
-	les responsables L2 / L3
-	et toute personne ayant des connaissances sur un risque spécifique ou ayant été formée dans un domaine particulier

</div>
