<h1> Formation et information</h1>
<div class="One">
  <p>
    La formation, l’information et la mise à disposition des instructions nécessaires au poste de travail figurent parmi
    les 9 principes généraux du Code du travail (L.4121-2) qui posent les bases de l’organisation de la prévention.
    La prévention des risques professionnels recouvre l'ensemble des dispositions à mettre en œuvre pour préserver la
    santé et la sécurité des salariés, améliorer les conditions de travail et tendre au bien-être au travail.</p>

  <li>Éviter les risques, c'est supprimer le danger ou l'exposition au danger.</li>
  <li>Évaluer les risques qui ne peuvent pas être évités, c'est apprécier l’exposition au danger et l’importance du
    risque qui ne peut être supprimé.</li>
  <li>Combattre les risques à la source, c'est intégrer la prévention le plus en amont possible.</li>
  <li>Adapter le travail à l'Homme, en tenant compte des différences interindividuelles, dans le but de réduire les
    effets du travail sur la santé.</li>
  <li>Tenir compte de l'évolution de la technique, c'est adapter la prévention aux évolutions techniques et
    organisationnelles.</li>
  <li>Remplacer ce qui est dangereux par ce qui n’est pas dangereux ou ce qui l’est moins, c’est éviter l’utilisation
    de procédés ou de produits dangereux lorsqu’un même résultat peut être obtenu avec une méthode présentant des
    dangers moindres.</li>
  <li>Planifier la prévention en intégrant technique, organisation et conditions de travail, relations sociales et
    environnement.</li>
  <li>Donner la priorité aux mesures de protection collective et n'utiliser les équipements de protection individuelle
    qu'en complément des protections collectives si elles se révèlent insuffisantes.</li>
  <li>Donner les instructions appropriées aux salariés, c’est former et informer les salariés afin qu’ils connaissent
    les risques et les mesures de prévention.</li>



  <h3>Formation ou information ?</h3>
  <p>
    Une action d’information peut revêtir des formes très variées, orales (entretien, réunion…) ou écrites (remise de
    brochures, dépliants, affichage…). Elle ne fait pas obligatoirement l’objet d’une évaluation.

    Par contraste, une action de formation doit être très structurée : qu’elle soit traditionnelle (stage) ou à
    distance, elle se déroule selon un programme précis, établi afin d’atteindre des objectifs pédagogiques définis au
    préalable.

    Les moyens pédagogiques mis en œuvre, ainsi que l’encadrement de la formation doivent être détaillés. Il doit lui
    être attaché un dispositif de suivi et d’appréciation des résultats : il doit être possible d’évaluer si les
    objectifs pédagogiques ont effectivement été atteints. Enfin, à son issue, une attestation de présence avec le
    programme de formation complet et la validation des acquis doit être remise à la personne formée.

  </p>
  <div class="planOnePart">
    <h2> 1. La Formation</h2>
    <h3>1.1 Les formations obligatoire pour tous les employés de l’entreprise</h3>
    <li id="I">La formation générale à la sécurité :”nouveaux entrants</li>
    <p> Cette formation doit être adaptée à la taille de l’établissement, à la nature de son activité et des risques qui
      y
      sont identifiés, ainsi qu’aux types d’emplois occupés par les salariés. Elle concerne :</p>

    <li> Les travailleurs nouvellement embauchés</li>
    <li>Ceux qui changent de poste et de technique</li>
    <li>Ceux qui reprennent leur travail après un arrêt de travail d’au moins 21 jours</li>
    <li> Les travailleurs temporaires ou sous contrat à durée déterminée (qui bénéficient d’une formation renforcée et
      d’un
      accueil et une information adaptés dès lors qu’ils sont affectés à des postes de travail présentant des risques
      particuliers)</li>
    <li> Les salariés d’entreprises dites extérieures, en particulier lors d’interventions dans des installations
      classées
      pour la protection de l’environnement.</li>

    <p>
      L’employeur est chargé de la mise en œuvre des actions en collaboration avec le médecin du travail et, s’il
      existe,
      le préventeur de l’entreprise. Le temps affecté à ces actions est considéré comme du temps de travail et
      s’effectue
      pendant l’horaire normal de travail.
    </p>
    <h3>Le rôle de ces formations à la sécurité est de renforcer les compétences des salariés et de les instruire sur :
    </h3>
    <li>les précautions à prendre pour assurer leur propre sécurité et, le cas échéant, celles des autres personnes
      occupées dans l’établissement</li>
    <li>les mesures de prévention à respecter dans l’entreprise</li>
    <li>la conduite à tenir en cas d’accident.</li>
    <li>la signalisation de sécurité, à propos de laquelle les travailleurs sont régulièrement informés de manière
      appropriée. Elle fournit les indications relatives à la sécurité ou à la santé et la conduite à tenir qui en
      résulte.</li>
    <p>Elles permettent ainsi aux salariés de maîtriser les risques spécifiques à leur poste de travail.</p>
    <h3> Elles portent en particulier sur :</h3>

    <li>les risques liés à la circulation dans l’entreprise</li>
    <li>les risques liés à l’exécution de leur travail</li>
    <li>les actions particulières en cas de :</li>
    <li id="A"> modifications habituelles de circulation sur les lieux de travail ou de modifications des conditions
      d’exploitation</li>
    <li id="A">de création ou modification d’un poste de travail ou de technique exposant à des risques nouveaux</li>
    <li id="A">accident de travail grave ou de maladie professionnelle ou à caractère professionnel grave.</li>

    <p>Parmi les formations en ligne, chacun peut par exemple suivre une formation sur le dictaticiel NEO ouvert à tous
      :
     <a href="https://neo.cnrs.fr/login/index.php">https://neo.cnrs.fr/login/index.php</a> </p>

    <li id="I">Formation aux risques incendies</li>
    <p>Le code du travail impose à l'employeur de former l’ensemble de ses employés à la sécurité incendie (article
      R4227-28). De même, toute personne apercevant un début d’incendie à le devoir de donner l’alarme et de mettre
      œuvre
      les moyens de premiers secours sans attendre l’arrivée des travailleurs spécialement désignés (article R4227-39).
      Des essais et exercices incendies doivent être effectués régulièrement, afin de de former les employés aux
      conduites
      à tenir (article R4227-39)

      extincteur
      guide file/ serre file</p>

  </div>

  <div class="PartTwo">
   <h3> 1.2 La formation obligatoire pour certains employés</h3>
      <h4>Formation Sauveteurs secouristes du travail (SST) </h4>
<p>Le Code du travail fait obligation à l'employeur d'organiser dans son entreprise les soins d'urgence à donner aux salariés accidentés et aux malades. En l’absence d’une présence permanente d’infirmier(e), l’employeur doit prendre l’avis du médecin du travail pour définir les mesures nécessaires (article R. 4224-16)  Cette organisation des secours passe par la mise en place, sur les lieux de travail, d’un dispositif d’alerte en cas d’accident ou de personne malade, la présence de sauveteurs secouristes du travail et la mise à disposition d’un matériel de premiers secours. Les employeurs doivent disposer de sauveteurs secouristes du travail , dûment formés, recyclés et en nombre suffisant (au moins 1SST pour 20 salariés).

  La conduite à tenir en cas d’urgence doit être rédigée et consignée dans un document porté à la connaissance du personnel et facilement accessible. Ce document est également tenu à la disposition de l’inspecteur du travail (article R. 4224-16).
  Enfin, l’article R. 4227-28 du Code du travail  oblige l’employeur à prendre les mesures nécessaires pour que tout commencement d'incendie puisse être rapidement et efficacement combattu dans l'intérêt du sauvetage des travailleurs.
 </p>

<h4>La formation du « salarié compétent » </h4>
<p>Dans le cadre de la désignation « d’un ou plusieurs salariés compétents » pour s’occuper des activités de protection et prévention des risques professionnels (L. 4644-1 et R. 4644-1 du Code du travail), l’entreprise doit former le ou les salarié(s) désigné(s) s’il(s) le demande(nt) et en fonction des besoins de l’entreprise

</p>

●	Assistant de prévention
+chargé de prevention


Créée par le décret n°85-603 du 10 juin 1985, modifié le 3 février 2012 par le décret n°2012-170, introduit de nombreux changements dont de nouvelles dispositions concernant l’assistant de prévention (ex-ACMO) et le conseiller de prévention dans son article 4.


●	Laboratoire de confinement L2/L3

■	Responsable L2/L3

Chaque laboratoire disposant de laboratoire de confinement L2 ou L3, se doit d’avoir des salariés ayant reçu la formation de responsable L2/L3.
Ces personnes établissent et mettent en place les règles d'utilisations de ces laboratoires.

Elles sont la pour vous appuyer et répondre à vos questions sur les risques biologiques et les obligations réglementaire.

■	Travail en milieu confiné L2/L3

Toutes personnes amenées à travailler en milieu  confiné doit suivre une formation adaptée, soit un formation interne (effectuée par le responsable L2/L3 ou l’agent de prévention s’il est compétent)
soit suivre une formation en externe (voir quelles sont les obligations juridiques)


Pour les P4, c’est d’autres formations probablement interne.

exemple : Formation au comportement en zones confinées type L2 et L3  visant à expliquer :
- le risque biologique et les différentes niveaux de confinement, les mesures techniques associées aux locaux et équipements, et le fonctionnement d’un laboratoire L2/L3 ou L4.
- le comportement à adopter dans ces zones de confinement : les bonnes pratiques d’habillage, la gestion des déchets, l’entrée et la sortie des agents biologiques, l’entrée et la sortie des équipements, la maintenance préventive et curative en zone confinée.
- les procédures en cas d’incident ou d’accident : Renversement de surnageant infecté, arrêt de CTA, malaise, blessure en zone confinée, surveillance médicale et vaccinations spécifiques.
 Cette formation doit répondre aux exigences législatives notamment la formation du personnel rendue obligatoires par le Code du Travail (art. R4425-7), pour pouvoir travailler dans un laboratoire (animalerie) de sécurité biologique de niveau 3 notamment (NSB) et à l’arrêté du 16 juillet 2007 fixant les mesures techniques de prévention, notamment de confinement de sécurité biologique niveau 3.
 (à vérifier)… Armel, tu dois en savoir plus que moi sur le sujet !



●	Expérimentation  Animale
Le personnel travaillant avec les animaux doit être qualifié en suivant une formation spécifique et adaptée à son implication dans les procédures expérimentales dans un délai d’un an à partir de sa première entrée dans l’animalerie (conception / réalisation / soins) associée à une formation continue (arrêté du 1er février 2013 relatif à l’acquisition et à la valorisation des compétences des personnels des établissements utilisateurs, éleveurs et fournisseurs d’animaux utilisés à des fins scientifiques) afin de maintenir et étendre ses compétences.
détailler
Formation de niveau I
Formation de niveau II


●	Radioprotection

■	Personne Compétente à la radioprotection (PCR)

Un arrêté du 18 décembre 2019 vient définir les modalités de formation de la personne compétente en radioprotection. Ainsi, le contenu et la durée de la formation, les conditions de délivrance et de renouvellement des certificats de formation sont notamment prévus par l’arrêté. Il fixe également les critères de certification des organismes de formation et des organismes compétents en radioprotection. Cet arrêté a été pris en application du nouvel article R4451-123 du Code du travail, créé lors de la refonte de la réglementation concernant la protection des travailleurs contre les risques dus aux rayonnements ionisants (décret n° 2018-437 du 4 juin 2018 relatif à la protection des travailleurs contre les risques dus aux rayonnements ionisants). Il abroge l’ancien arrêté du 6 décembre 2013 et est applicable depuis le 1er janvier 2020. Certaines dispositions transitoires sont prévues à ce titre.


■	Personne manipulant la radioactivité
Toute personne amenée à travailler avec des sources radioactives qu’elles soient scellées ou non doit  :
- suivre une formation à la radioprotection (article R.4451-47 à R.4451-50 du Code du Travail). Cette formation est à renouveler au moins tous les 3 ans.
- être suivi par un médecin du travail qui certifie que le travailleur ne présente pas de contre-indication médicale pour l’utilisation d'élément radioactifs. Dans ce cas précis, la visite annuelle est obligatoire. Cette visite donnera lieu à l'inscription dans le Système d’Information de la Surveillance de l'Exposition aux Rayonnements Ionisants (SISERI) qui remplace depuis 2013 la carte professionnelle de suivi médical
-bénéficier d’un suivi dosimétrique individuel.

●	Azote ?

●	Formation à la conduite d’autoclave ?

●	Les formations spécifiques
Des formations spécifiques aux situations de travail font l’objet d’obligations qui découlent soit de la mise en application de la réglementation issue du Code du travail, soit de règles prises en application du Code de la sécurité sociale.
Il peut s’agir de formations techniques portant sur des sujets tels que les agents biologiques, l’amiante, les agents Cancérogènes, Mutagènes et toxiques pour la Reproduction (CMR), les appareils de levage, le bruit…
Une liste précise de ces formations figure dans la brochure Formation à la sécurité. Obligations réglementaires (ED 6298).

Ce serait peut être bien de parler du responsable formation aussi

  </div>
</div>
