<div class="container">


  <h2><a name="_rrj21bntjhcw"></a>● Les risques physiques</h2>

  <p>Les risques physiques concernent :</p>

  <p>● Les risques liés à l’utilisation de machines et l’utilisation d’équipements additionnels.</p>

  <p>● Les risques liés à l’environnement de travail.</p>

  <h3><a name="_53s1tsvoa0vs"></a>❏ Signalisation</h3>
<div class="Body">
  <img src="../../../../assets/img/PhyImgOne.png" />
  <p>Ils sont signalés par un affichage triangulaire sur fond jaune encadré en noir.
    Un pictogramme d'indication du danger vient compléter la signalisation.
    Une bande de délimitation de zone du danger peut également être utilisée pour définir une zone de risque.</p>

  <img src="../../../../assets/img/PhyImgTwo.png" />
  <h3><a name="_qyd2ucslr7lh"></a>❏ Effets sur la santé</h3>

  <p>De par leurs diversités, les risques physiques peuvent avoir plusieurs effets sur la santé, plus ou moins graves en
    fonction de l'exposition, de sa durée et de sa fréquence.
    Nous listons ici les principaux risques rencontrés :</p>

  <img src="../../../../assets/img/PhyImg(3).png" />
  <p>Symbole de danger pour alerter d'un danger général.</p>
  <img src="../../../../assets/img/PhyImg(4).png" />
  <p>Un laser, pour “Light Amplification by Stimulated Emission of Radiation”, produit et amplifie une onde lumineuse
    définie. La lumière émise est monochromatique, c’est-à-dire d’une couleur correspondant à une seule longueur d’onde
    définie, qui peut être dans le domaine de l'invisible à l’oeil comme l’infrarouge et l’ultraviolet ou dans le
    visible.
  </p>
  <div>
    <p>Les lasers représentent une source de risque pour la peau et l’œil. L’exposition à un faisceau laser peut
      survenir de
      différentes façons :</p>

    <ul>
      <li>Par vision directe dans le faisceau</li>
      <li>Par réflexion spéculaire</li>
      <li>Par réflexion diffuse</li>
    </ul>
  </div>
  <p>Les réflexions produites par les objets réfléchissants présentent un risque identique aux rayonnements directs.</p>

  <p>Les risques dépendent du type de laser utilisé, de la puissance du faisceau laser et de la durée de l’exposition.
    Ils
    peuvent aller de la brûlure localisée à la lésion profonde. Chaque laser a une classe, indiquée par le constructeur,
    qui donne une idée de sa dangerosité.
    Il existe à ce jour 8 classes différentes de lasers :</p>

  <p><strong>Laser de classe 1 :</strong></p>

  <p>Lasers qui sont sans danger pendant leur utilisation, y compris la vision directe dans le faisceau sur une longue
    période, même lorsqu’une exposition se produit lors de l’utilisation des dispositifs optiques télescopiques.

    La classe 1 comprend également les lasers de forte puissance qui sont totalement enfermés de sorte qu’aucun
    rayonnement potentiellement dangereux ne soit accessible pendant l’utilisation (appareil avec laser incorporé).</p>

  <p><strong>Laser de classe 1M :</strong></p>

  <p>Lasers qui sont sans danger, y compris la vision directe dans le faisceau sur une longue période pour l’œil nu.
    L’exposition maximale permise peut être dépassée et des lésions oculaires peuvent apparaître après une exposition
    avec un dispositif optique comme des jumelles.</p>

  <p><strong>Laser de classe 1C :</strong></p>

  <p>Appareils laser destinés à une application directe du rayonnement laser sur la peau ou les tissus corporels
    internes dans le cadre de procédures médicales, de diagnostic, thérapeutiques ou cosmétiques comme l’épilation, la
    réduction des rides et de l’acné.

    Bien que le rayonnement laser émis puisse être aux niveaux des classes 3R ou 4, les expositions oculaires sont
    empêchées grâce à un ou plusieurs moyens techniques.</p>

  <p><strong>Laser de classe 2 :</strong></p>

  <p><em>Lasers qui émettent un rayonnement visible dans la gamme des longueurs d’onde de 400 nm à 700 nm, qui sont sans
      danger pour des expositions courtes mais qui peuvent être dangereux pour une vision délibérée dans le
      faisceau.</em>
  </p>

  <p><em>Les utilisation sont avertis par les étiquetages de ne pas regarder dans le faisceau, c’est-à-dire d’avoir des
      réactions actives de protection, en bougeant la tête ou en fermant les yeux, et d’éviter de regarder dans le
      faisceau en continu et de manière intentionnelle.</em></p>

  <p><strong>Laser de classe 2M :</strong></p>

  <p><em>Lasers qui émettent des faisceaux laser visibles et qui sont sans danger pour une exposition de courte durée
      uniquement, à l’oeil nu. L'exposition maximale permise peut être dépassée et des lésions oculaires peuvent
      apparaître après une exposition avec un dispositif optique comme des jumelles.</em></p>

  <p><em>Les utilisateurs sont avertis par les étiquetages de ne pas regarder dans le faisceau, c’est-à-dire d’avoir des
      réactions actives de protection, en bougeant la tête ou en fermant les yeux, et d’éviter de regarder dans le
      faisceau en continu et de manière intentionnelle. L’étiquetage des appareils de la classe 2M met aussi en garde
      contre une exposition des utilisateurs aux instruments optiques télescopiques.</em></p>

  <p><strong>Laser de classe 3R :</strong></p>

  <p><em>Lasers qui émettent des rayonnements pouvant dépasser l’exposition maximale permise pour une vision direction
      dans le faisceau, mais le risque de lésions dans la plupart des cas est relativement faible.</em></p>

  <p><em>Le risque de lésions augmente avec la durée d’exposition et l’exposition peut être dangereuses pour une
      exposition oculaire dans la condition la plus défavorable (alignement du faisceau avec une pupille dilatée avec la
      totalité du faisceau entrant dans l’œil) ou une vision directe dans le faisceau de manière intentionnelle.</em>
  </p>

  <p><em>Port de lunettes de protection fortement conseillé.</em></p>

  <p><strong>Laser de classe 3B :</strong></p>

  <p><em>Lasers qui sont dangereux lorsque l’exposition oculaire dans le faisceau se produit, y compris une exposition
      de
      courte durée accidentelle. La vision des réflexions diffuses est normalement sans danger.</em></p>

  <p><em>Les lasers de classe 3B peuvent produire des lésions mineures de la peau, voire présenter un risque
      d’inflammation de matériaux inflammables. Cependant, cela n’est susceptible de se produire que si le faisceau a un
      petit diamètre ou s’il est focalisé.</em></p>

  <p><em>Port de lunettes de protection obligatoire.</em></p>

  <p><strong>Laser de classe 4 :</strong></p>

  <p><em>Lasers pour lesquels la vision dans le faisceau et l’exposition de la peau sont dangereuses, et pour lesquels
      la
      vision de réflexions diffuses peut être dangereuses. Ces lasers représentent aussi un danger d’incendie.</em></p>

  <p><em>Port de lunettes de protection et de gants de protection obligatoires.</em></p>
  <img src="../../../../assets/img/PhyImg(5).png" />
  <p>Travailler en environnement froid peut être dangereux pour la santé, voir mortel dans certaines circonstances. Les
    principales pathologies liées à l’exposition directe au froid sont l’hypothermie et l’engelure. Le travail au froid
    augmente également le risque de survenue de troubles musculosquelettiques et peut être à l’origine d’accidents du
    travail.
    La prévention des risques liés au froid impose en priorité d’éviter ou de limiter les expositions prolongées. Si ce
    n’est pas possible, des mesures de prévention concernant la conception ou l’aménagement des postes et des situations
    de travail doivent être mises en œuvre. Ce dispositif doit être complété par la mise à disposition de vêtements et
    d’équipements individuels de protection contre le froid.</p>

  <img src="../../../../assets/img/PhyImg(6).png" />
  <p>Pour les accidents d'origine électrique, il faut distinguer :</p>

  <p><strong>L'électrisation</strong> qui est la mise sous tension d'une partie du corps ou de son ensemble,</p>

  <p><strong>L'électrocution</strong> qui est une électrisation dont l'issue est fatale</p>

  <p>Les risques de contacts électriques sont de deux ordres. </p>

  <p>D'une part il y a les contacts <strong>directs</strong> où l'opérateur touche une partie sous tension avec son
    corps.
    Deux cas de figure se présentent alors : soit le courant électrique traverse le corps pour rejoindre la terre (entre
    une phase et la terre), soit le courant électrique traverse le corps pour faire un court-circuit (entre deux
    phases).
  </p>

  <p>D'autre part, il y a les contacts <strong>indirects</strong> où l'opérateur touche une masse conductrice
    (métallique
    ou autre) non reliée à la terre qui est accidentellement mise sous tension. Le courant traverse alors le corps pour
    rejoindre la terre. </p>

  <p>Dans les deux cas, il existe un risque <strong>d'électrisation</strong> voire <strong>d'électrocution</strong>.</p>

  <p>Suivant les individus, les seuils de danger varient, mais on peut estimer qu'à partir de 5 mA, il peut y avoir des
    répercussions sur l'homme. Il s'agit le plus souvent de lésions qui touchent principalement la main, les membres
    supérieurs et les yeux (brûlures, contusions, commotions, plaies).</p>

  <p><strong>À partir de 30 mA</strong>, on assiste à une tétanisation des muscles respiratoires qui peut aboutir au
    bout
    de quelques minutes à une asphyxie.</p>

  <p><strong>Au delà de 30 mA</strong>, on parle de "fibrillation ventriculaire" affectant les organes vitaux, à
    commencer
    par le cœur. </p>

  <p>Le seuil de tension dangereuse s'établit, quant à lui, à 50 V (12 V en environnement humide).</p>

  <p><em>A savoir : Pour réaliser des opérations sur ou à proximité d’une installation électrique, le travailleur doit
      être habilité. L’habilitation est la reconnaissance, par l’employeur, de la capacité d’une personne placée sous
      son
      autorité à accomplir, en sécurité vis-à-vis du risque électrique, les tâches qui lui sont confiées. Avant d’être
      habilité, le travailleur doit avoir été formé et avoir été déclaré apte par le médecin du travail.</em></p>
  <img src="../../../../assets/img/PhyImg(7).png" />
  <p>Le bruit constitue une nuisance majeure dans le milieu professionnel. Il peut provoquer des surdités mais aussi
    stress et fatigue qui peuvent avoir rapidement des conséquences sur la santé du salarié et la qualité de son
    travail.
    Pour une journée de travail, on considère que l'ouïe est en danger à partir de 80 dB(A). Si le niveau de bruit est
    supérieur, l'exposition doit être de plus courte durée. Si le niveau est extrêmement élevé (supérieur à 135 dB(A)),
    toute exposition, même de très courte durée, est dangereuse.
    A la suite d’une exposition à un bruit intense, on peut souffrir temporairement de sifflements d’oreilles ou de
    bourdonnements (acouphènes) ainsi que d'une baisse de l'acuité auditive. Cette fatigue auditive disparaît avec le
    temps si aucune nouvelle exposition au bruit ne survient.
    L'exposition prolongée à des niveaux de bruits intenses détruit peu à peu les cellules ciliées de l'oreille
    interne.
    Elle conduit progressivement à une surdité irréversible. L'exposition à certains solvants, dits ototoxiques, peut
    amplifier ce phénomène. Un bruit soudain très intense, par exemple lors d'une explosion, peut entraîner une surdité
    brutale, totale ou partielle.</p>
  <img src="../../../../assets/img/PhyImg(8).png" />
  <p>Certaines installations professionnelles peuvent générer un champ électromagnétique d’une forte intensité. Ce
    dernier
    apparaît dès lors que des charges électriques sont en mouvement et peut avoir des conséquences sur la santé du
    travailleur. </p>

  <p>A court terme les effets peuvent être :</p>

  <p>- directs : échauffement des tissus biologiques, stimulation du système nerveux…</p>

  <p>- indirects : incendie ou explosion dus à une étincelle ou à un arc électrique, dysfonctionnement de dispositifs
    électroniques y compris les dispositifs médicaux actifs comme les pacemakers, projection d’objets métalliques…</p>

  <p>Des effets sensoriels (tels que vertiges, nausées, troubles visuels) sans conséquence pour la santé peuvent être
    ressentis aux très basses fréquences. Ces effets peuvent malgré tout avoir des conséquences sur la sécurité des
    travailleurs dans certaines situations de travail.</p>

  <p><em>À ce jour, il n’y a pas de consensus scientifique concernant des effets à long terme dus à une exposition
      faible
      mais régulière.</em></p>
  <img src="../../../../assets/img/PhyImg(9).png" />
  <img src="../../../../assets/img/PhyImg(10).png"/>
  <img src="../../../../assets/img/PhyImg(11).png" />

  <p>Chutes, trébuchements, faux pas, pertes d’équilibre… sont des risques identifiés au travail encore trop souvent
    perçus comme étant inévitables et de caractère bénin. Contrairement à ces idées reçues, elles sont pourtant une des
    principales causes d’accidents dans l’environnement professionnel. Elles peuvent avoir des conséquences graves,
    parfois même fatales, pour les salariés victimes.

    La gravité des lésions dépend des circonstances de survenue de l’accident. Ces lésions peuvent résulter d’un
    contact
    brutal avec le sol. En cas de perte d’équilibre, la victime peut également tomber sur un objet dangereux ou encore
    chercher à se rattraper au support le plus proche. Les conséquences dépendront alors de l’environnement de travail
    du
    salarié et particulièrement de la présence ou non d’éléments agressifs susceptibles de provoquer des lésions. Il est
    à
    souligner que même si la victime ne tombe pas, les lésions peuvent tout de même être graves.</p>

    <img src="../../../../assets/img/PhyImg(12).png" />

  <p>Le risque d’atmosphère explosive concerne une atmosphère susceptible de devenir explosive du fait de conditions
    locales particulières.</p>

  <p>Le risque devient présent quand un combustible, qu’il soit un gaz, un brouillard ou encore constitué de poussière,
    se
    retrouve dans une situation où tous les critères propres à l’explosion sont présents.</p>

  <p>Pour en savoir davantage sur les caractéristiques des substances les plus couramment impliquées dans des
    explosions,
    vous pouvez consulter la base de données CarAtex de l’INRS.</p>

  <img src="../../../../assets/img/PhyImg(13).png" /><p><strong>Risque d'asphyxie </strong></p>

  <p><em>Je n’arrive pas à recréer l’encart comme les précédent :(</em></p>

  <p>L’utilisation de gaz tels que le dioxyde de carbone (CO2), l’azote (N), etc… peuvent entraîner une modification de
    la
    concentration en oxygène de la pièce, ce qui va entraîner un risque d’asphyxie. Lors de l’utilisation de ces gaz en
    espace confiné, il conviendra de s’assurer de la bonne ventilation de la pièce, et de l'équipement de celle ci par
    une
    sonde de détection des niveaux d'oxygène dans la pièce, ou l’utilisation d’un oxymètre portable.</p>
  </div>
</div>
