<div class="container">
    <div class="row">
        <div class="col-md-12">


            <h1 id="logo">Présentation</h1>
            <p>
                L’association EMILYS à but non lucratif (loi 1901 enregistrée, parue au JO n°23, le 06/06/2020 à l’annonce n°972) a vu le jour le 29 Avril 2020, de la volonté de plusieurs personnes touchées par l’histoire d’Emilie, et désirant promouvoir la sécurité
                dans les lieux en rapport avec la recherche et le médical.
            </p>
            <p>
                Les accidents professionnels sont des problèmes majeurs dans le secteur de la recherche médicale, dont le personnel est exposé à de multiples risques. On peut compter parmi ceux-ci: les agents inflammables et/ou explosifs, les gaz et liquides toxiques,
                les agents radioactifs et biologiques pathogènes, provoquant des infections, des allergies, des effets toxiniques ou même des cancers, sans oublier des effets mutagènes ou embryotoxiques; certains risques pouvant amener au décès des personnes
                touchées ou infectées. Un danger particulier est à prendre en compte quand les laboratoires de recherche traitent ou étudient des substances chimiques ou agents biologiques mal connus, voire méconnus.
            </p>
            <p>Généralement, ces dangers peuvent être évités ou limités, si les règles élémentaires de sécurité sont respectées. Ainsi, il est essentiel d’acquérir, de développer et d’appliquer une véritable culture de la sécurité pour chaque personnel travaillant
                dans le secteur de la recherche. </p>
            <p>En promouvant la mémoire d’Emilie, partie tragiquement, à l'orée de ses 33 ans, à cause d’un accident de travail dans un laboratoire de recherche, les membres de l’association souhaitent faire connaître les conditions de cet accident afin
                d’éviter que d’autres accidents de ce type ne se reproduisent.</p>
            <p>Par nature l’association a pour objectif de développer et d’organiser des actions afin de sensibiliser les pouvoirs publics, les dirigeants, les personnels et les responsables de la sécurité au strict respect des règles de sécurité dans les
                laboratoires. Ces actions de sensibilisation, de prévention et de communication seront menées dans les secteurs où le personnel est exposé à des risques biologiques, chimiques, radioactifs (i.e. laboratoires de recherche et d’analyses,
                industrie pharmaceutique, établissements de soins, pharmacie,..). Au travers de ces activités, l’association entend instaurer le partage d'expériences, la solidarité et le soutien aux personnes exposées ou ayant subies un accident du travail
                et sensibiliser les publics aux risques en laboratoire sur la santé à court terme, mais aussi à long terme.</p>
            <p>L’association donne l’opportunité à chaque personne concernée de près ou de loin par les risques mentionnés ci-dessus, de s’informer, de partager son vécu et de contribuer à l’amélioration des conditions de travail du personnel en terme de
                sécurité. L'association se doit de faire entendre les personnes ayant subi un accident de travail, léger ou grave, dans un laboratoire et de les accompagner au mieux.</p>
        </div>
    </div>
</div>