<h1 id="logo">Le Bureau</h1>
<p>L’Association Emilys est une association reconnue loi de 1901. Depuis le 29 Avril 2020, son bureau est composé des 7 membres bénévoles suivants : </p>


<div class="wrapper">
    <div class="our_team">
        <div class="team_member">
            <div class="member_img">
                <img src="assets/img/user.png">
                <div class="social_media">
                    <p>Directrice scientifique et étude</p>
                </div>
            </div>
            <h3>Abir Tadmouri</h3>
            <span>Présidente</span>
        </div>
        <div class="team_member">
            <div class="member_img">
                <img src="assets/img/user.png">
                <div class="social_media">
                    <p>Entrepreneur salarié</p>
                </div>
            </div>
            <h3>Karine Naudin</h3>
            <span>Vice-Présidente</span>
        </div>
        <div class="team_member">
            <div class="member_img">
                <img src="assets/img/user.png">
                <div class="social_media">
                    <p>Ingénieur d’étude scientifique</p>
                </div>
            </div>
            <h3>Ghislaine Poizat</h3>
            <span>Secrétaire générale</span>
        </div>
        <div class="team_member">
            <div class="member_img">
                <img src="assets/img/user.png">
                <div class="social_media">
                    <p>Rédacteur technicien</p>
                </div>
            </div>
            <h3>Thomas Bancel</h3>
            <span>Secrétaire adjoint</span>
        </div>
    </div>

    <div class="our_team">
        <div class="team_member">
            <div class="member_img">
                <img src="assets/img/user.png">
                <div class="social_media">
                    <p>Technicien supérieur de laboratoire</p>
                </div>
            </div>
            <h3>Guillaume Durand</h3>
            <span>Trésorier</span>
        </div>
        <div class="team_member">
            <div class="member_img">
                <img src="assets/img/user.png">
                <div class="social_media">
                    <p>Assistante ingénieur scientifique</p>
                </div>

            </div>
            <h3>Madeleine Jaillet</h3>
            <span>Responsable communication</span>
        </div>
        <div class="team_member">
            <div class="member_img">
                <img src="assets/img/user.png">
                <div class="social_media">
                    <p>Ingénieur automobile</p>
                </div>

            </div>
            <h3>Gérald Sellier</h3>
            <span>Administrateur Web</span>
        </div>
        <!-- <div class="team_member">
            <div class="member_img">
                <img src="../../../../assets/img/user.png">
                <div class="social_media">
                    <p>...</p>
                </div>
            </div>
            <h3>Lucie Pourprix Zongo</h3>
            <span>Correspondante 
                Région Bourgogne-Franche-Comté</span>
        </div>
    </div> -->

        <!-- <div class="our_team">
        <div class="team_member">
            <div class="member_img">
                <img src="../../../../assets/img/user.png">
                <div class="social_media">
                    <p>...</p>
                </div>
            </div>
            <h3>Adelina Syla Osmani</h3>
            <span>Correspondante Région Rhônes-Alpes</span>
        </div> -->

        <!-- <div class="team_member">
            <div class="member_img">
                <img src="../../../../assets/img/user.png">
                <div class="social_media">
                    <p>...</p>
                </div>
            </div>
            <h3>Anne Sophie Gicquiaux</h3>
            <span>Correspondante Région</span>
        </div> -->


    </div>
</div>
<p>Les membres nommés seront principalement actifs en région parisienne.</p>
<p> Le siège social de l’association a été défini à l’adresse suivante : 129 avenue de Saint Ouen, 75017 PARIS.</p>
<!-- <p>Trois autres membres de l’association auront un rôle relai en dehors de la région parisienne. Il s’agit de Lucie Pourprix Zongo (Région Bourgogne-Franche-Comté), Adelina Syla Osmani (Région Rhône-Alpes), Anne-Sophie Gicquiaux (Région Centre-Val de loire).</p> -->