<div class="One">
 <p>Pour que vous soyez couvert par votre caisse primaire d’assurance maladie (CPAM) en cas d’un accident du travail vous devez effectuer les démarches suivantes dans un délai de 24h sauf rares exceptions (cas de force majeure, impossibilité absolue, motifs légitimes) :</p>

<li>Informer votre employeur de votre accident. Il devra vous remettre la feuille d’accident de travail ou maladie professionnelle formulaire S6201.</li>

<li>Consulter un médecin afin d’établir un certificat médical initial et remplir les documents nécessaires à la déclaration. Un arrêt de travail pourra être prescrit selon les besoins. Cette démarche peut être effectuée par n’importe quel médecin (généraliste, urgentiste, du travail, ou tout service hospitalier).</li>

<li>Si les documents ne sont pas télétransmis par le médecin vous devez les communiquer à votre CPAM.</li>

<li>Transmettre à votre employeur dans les 48h une copie du certificat médical et formulaire d’arrêt de travail votre accident donne lieu à un arrêt.</li>

<li>Attendre la décision de votre CPAM sur la reconnaissance de votre accident de travail.</li>
</div>

<div class="Two">
 <p>La reconnaissance d'un accident comme étant d'origine professionnelle ouvre droit aux indemnités suivantes :
  <li>En cas d'arrêt de travail, indemnités versées par la Sécurité sociale et indemnités complémentaires versées par l'employeur</li>
  <li>En cas d'incapacité permanente de travail, indemnisation spécifique, et indemnisation complémentaire en cas de faute inexcusable de l'employeur.
    Retrouvez toutes les démarches à effectuer sur :</li>
  <a href="https://www.ameli.fr/assure/droits-demarches/maladie-accident-hospitalisation/accident/accident-travail-trajet">https://www.ameli.fr/assure/droits-demarches/maladie-accident-hospitalisation/accident/accident-travail-trajet</a>
 <br> Textes références :
    <li>Code de la sécurité sociale : articles L441-1 à L441-6
      Démarches du salarié</li>
    <li>Code de la sécurité sociale : articles R441-1 à R441-9
      Démarches du salarié</li>
    <li>Code de la sécurité sociale : articles R441-10 à R441-17
      Reconnaissance du caractère professionnel de l'accident</li>	</p>
</div>


