<div class="EqPro">
  <h2>Les équipements de protection </h2>
  <p>
    Les équipements de protection individuelle (EPI) sont destinés à protéger le travailleur contre un ou plusieurs
    risques. Leur utilisation ne doit être envisagée qu'en complément des autres mesures d'élimination ou de réduction
    des risques. Les règles relatives à leur conception et leur utilisation sont définies par le Code du travail.
    Les équipements de protection collective et individuelle ont pour rôle de réduire à un niveau acceptable
    l’exposition d’un travailleur et de la communauté à un ou plusieurs types de risque. Les ÉPI doivent être bien
    entretenus et inspectés avant chaque utilisation. Un ÉPI défectueux n’offre pas la protection nécessaire !

    Nous vous proposons sur cette page de vous présenter les différents EPI.

  </p>
  <li>
    Pour la protection des yeux et du visage
  </li>
  <p>○ Lunettes de protection</p>
  <div class="imgOne">
    <img src="../../../assets/img/ProImg(1).png" />
    <p>Les lunettes de protection sont obligatoires lorsqu’il y a exposition à des risques d’aérosols, d’éclaboussures
      de matières dangereuses et à des risques de projections de particules ou de poussières. Les verres correcteurs
      (lunette de vue) et les lentilles cornéennes ne sont pas des ÉPI, car elles n’offrent aucune protection. Les
      lunettes de protection doivent être approuvées par l’ACNOR (CSA); être munies de protecteurs latéraux, s’ajuster à
      la forme du visage en minimisant l’espace entre la peau et les lunettes.</p>
  </div>
  <div class="imgTwo">
    <p>○ Visière de protection faciale</p>
    <img src="../../../assets/img/ProImg(2).png" />
    <p>La visière doit être portée pour la manipulation de liquides cryogéniques, lorsqu’il y a un risque d’explosion ou
      un grand risque d’éclaboussures. Elle doit être portée lors de travaux par point chaud, lorsque le masque de
      soudage n’est pas requis, mais qu’il y a possibilité de projections d’étincelles. Les lunettes de protection
      doivent être portées sous la visière.</p>
  </div>

  <div class="imgThree">
    <p>○ Les appareils de protection respiratoire</p>
    <img src="../../../assets/img/ProImg(3).png" />
    <p>Les appareils de protection respiratoire filtrants ou isolants préviennent les risques liés à l’inhalation de
      polluants. Il faut en respecter les règles de stockage et de durée d’utilisation. Pour être efficace, le masque
      devra être bien ajusté et adapté au polluant (gaz, vapeurs, aérosols). Il existe trois classes d’efficacité :
      FFP1, FFP2 et FFP3. (FFP = filtering facepiece, soit pièce faciale filtrante)

      FFP1 = Filtration : 80 % au minimum. Taux de fuite vers l'intérieur : 22 % au maximum
      FFP2 = Filtration : 94 % au minimum. Taux de fuite vers l'intérieur : 8 % au maximum
      FFP3 = Filtration : 98 % au minimum. Taux de fuite vers l'intérieur : 2 % au maximum
    </p>
  </div>


  <div class="imgFour">
    <li>
      Pour la protection des Mains
    </li>
    <img src="../../../assets/img/ProImg(4).png" />
  </div>

  <div class="imgFive">
    <li>
      Gants protection chimiques-microbiologiques
    </li>
    <p>Ils répondent à la norme EN 374.
      Les produits corrosifs (bases et acides forts, ...), les composés pénétrant facilement à travers la peau (dérivés
      nitrés, amines aromatiques...) doivent être manipulés avec des gants, sélectionnés selon le type de produit
      utilisé (gants en latex, en vinyle, en nitrile...).
      Les fiches de données de sécurité précisent la nature des gants à employer, car chaque type de gant est conçu pour
      une protection spécifique.
    </p>
    <img src="../../../assets/img/ProImg(5).png" />
    <p>Les mains doivent être aussi protégées par des gants lors de la manipulation, d’animaux.

      Le port de gants à usage unique est nécessaire pour toute manipulation présentant des risques d’exposition par
      contact avec des échantillons potentiellement contaminés (remplissage de capillaire, confection de frottis
      sanguin, …). Les gants médicaux répondent à la norme NF EN 455

      Les gants doivent être enlevés après la manipulation à risque et avant tout contact avec du matériel "propre" afin
      d’éviter de contaminer ce dernier.
      Les gants d’usage courant (latex ou nitrile) ne sont pas particulièrement inflammables mais leur utilisation près
      d’un bec chauffant peut majorer la gravité d’une brûlure.
    </p>
  </div>

  <div class="partLast">
    <li>Gants anti coupures</li>
    <p>Le risque de contamination étant augmenté s’il existe des risques de coupure, le port de gants anti coupures en
      renfort des gants “classiques” est plus que recommandé voir obligatoire en fonction du niveau de pathogénicité des
      agents manipulés.</p>
  </div>
</div>
